<!DOCTYPE html>
<html dir="ltr" lang="en-EN">
<head><!-- Created by DomThu & SPecchiaSoft -->
  <meta charset="utf-8"/>
  <title>FiscoSport condizioni di utiliso</title>
  <style>
    .toggler { width: 90%; height: 200px; position: relative; }
    #btnCond { padding: .5em 1em; text-decoration: none; }
    #effect { position: relative; }
    .newClass { width: 50%;  padding: 1em; letter-spacing: 0; font-size: 1.0em; margin: 0; }
    .anotherNewClass { text-indent: 40px; letter-spacing: .4em; width: 100%; height: 350px; padding: 30px; margin: 10px; font-size: 1.6em; overflow: scroll; }
    </style>
    <script>
    $(document).ready(function() {
        $( "#btnCond" ).click(function(){
            $( ".newClass" ).switchClass( "newClass", "anotherNewClass", 1000 );
            $( ".anotherNewClass" ).switchClass( "anotherNewClass", "newClass", 1000 );
            if (($("#btnCond").text()) == "Si legge male?")
              $("#btnCond").text("Forse meglio prima?")
            else
              $("#btnCond").text("Si legge male?")
            return false;
        });
    });
    </script>
</head>
<body>
<div>
  <table cellspacing="0" cellpadding="0" border="0" width="100%" style="height: 100%">
    <tbody>
      <tr>
        <td>
          <a href="#" id="btnCond" class="ui-state-default ui-corner-all">Si legge male?</a>
        </td>
        <td style="text-align: right;">
          E-mail: <a class="pri" title="Manda una e-mail" href="mailto:segreteria@fiscosport.it"><b>segreteria@fiscosport.it</b></a><br />
        </td>
      </tr>
      <tr>
        <td colspan="2" align="left" valign="top" class="privacy">
          <div class="toggler">
            <div id="effect" class="newClass ui-corner-all">

              <%= Setting.template_condition %>

            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
