.fs-block-slide{
margin:-6px auto 0;

}
.fs-slidecontainershutterstock_6228764804 {
    position: relative;
        width: 290px;
    height: 243px;
        }

.fs-slidecontainershutterstock_6228764804 .fs-slide-item
{
 background-color: yellow;
}



.fs-slidecontainershutterstock_6228764804 .fs-slide-item {
    -webkit-transition: 600ms ease-in-out opacity;
    -moz-transition: 600ms ease-in-out opacity;
    -ms-transition: 600ms ease-in-out opacity;
    -o-transition: 600ms ease-in-out opacity;
    transition: 600ms ease-in-out opacity;
    position: absolute;
    display: none;
	left: 0;
	top: 0;
	opacity: 0;
    width:  100%;
    height: 100%;
}

.fs-slidecontainershutterstock_6228764804 .active, .fs-slidecontainershutterstock_6228764804 .next, .fs-slidecontainershutterstock_6228764804 .prev {
    display: block;
}

.fs-slidecontainershutterstock_6228764804 .active {
    opacity: 1;
}

.fs-slidecontainershutterstock_6228764804 .next, .fs-slidecontainershutterstock_6228764804 .prev {
    width: 100%;
}

.fs-slidecontainershutterstock_6228764804 .next.forward, .fs-slidecontainershutterstock_6228764804 .prev.back {
    opacity: 1;
}

.fs-slidecontainershutterstock_6228764804 .active.forward {
    opacity: 0;
}

.fs-slidecontainershutterstock_6228764804 .active.back {
    opacity: 0;
}


.fs-slideshutterstock_01 {
    background-image:  url('/images/fe-blu-02/slides/slideshutterstock_1.jpg');
    background-position:  0 0;
    background-repeat: no-repeat;
}
.fs-slideshutterstock_02 {
    background-image:  url('/images/fe-blu-02/slides/slideshutterstock_2.jpg');
    background-position:  0 0;
    background-repeat: no-repeat;
}
.fs-slideshutterstock_03 {
    background-image:  url('/images/fe-blu-02/slides/slideshutterstock_3.jpg');
    background-position:  0 0;
    background-repeat: no-repeat;
}
.fs-slideshutterstock_04 {
    background-image:  url('/images/fe-blu-02/slides/slideshutterstock_4.jpg');
    background-position:  0 0;
    background-repeat: no-repeat;
}
.fs-slideshutterstock_05 {
    background-image:  url('/images/fe-blu-02/slides/slideshutterstock_5.jpg');
    background-position:  0 0;
    background-repeat: no-repeat;
}

.fs-slideshutterstock_06 {
    background-image:  url('/images/fe-blu-02/slides/slideshutterstock_6.jpg');
    background-position:  0 0;
    background-repeat: no-repeat;
}



.fs-slidenavigatorshutterstock_6228764804 {
  display: inline-block;
  position: absolute;
  direction: ltr !important;
  top: 230px;
  left: 0%;
  z-index: 101;
  line-height: 0 !important;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
    white-space: nowrap;
      right: 0px;
  }
.fs-slidenavigatorshutterstock_6228764804
{
background: #F4DF43;

-webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);-moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
border:1px solid #E5C352;
padding:2px;





}
.fs-slidenavigatorshutterstock_6228764804 > a
{
background: #3672A1;
-webkit-border-radius:10%;-moz-border-radius:10%;border-radius:10%;



margin:0 10px 0 0;

width: 7px;

height: 7px;
}
.fs-slidenavigatorshutterstock_6228764804 > a.active
{
background: #27333A;
-webkit-border-radius:10%;-moz-border-radius:10%;border-radius:10%;

border:1px solid #27333A;

margin:0 10px 0 0;

width: 7px;

height: 7px;
}
.fs-slidenavigatorshutterstock_6228764804 > a:hover
{
background: #608DA9;
-webkit-border-radius:10%;-moz-border-radius:10%;border-radius:10%;

border:1px solid #7AA0B8;

margin:0 10px 0 0;

width: 7px;

height: 7px;
}