ul.fs-hmenu2 {
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}
.fs-nav2 {
    background: #FFFFFF;
    background: transparent;
    border: 1px solid #F6A904;
    border-top: none;
    padding: 4px 4px 0;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    font-size: 0;
    text-align: right;
}

ul.fs-hmenu2 a, ul.fs-hmenu2 a:link, ul.fs-hmenu2 a:visited, ul.fs-hmenu2 a:hover {
    outline: none;
    position: relative;
    z-index: 11;
}

ul.fs-hmenu2, ul.fs-hmenu2 ul {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

ul.fs-hmenu2 li {
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

ul.fs-hmenu2 li:hover {
    z-index: 10000;
    white-space: normal;
}

ul.fs-hmenu2:after, ul.fs-hmenu2 ul:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

ul.fs-hmenu2, ul.fs-hmenu2 ul {
    min-height: 0;
}

ul.fs-hmenu2 {
    display: inline-block;
    vertical-align: bottom;
}

.fs-nav2:before {
    content: ' ';
}

.fs-hmenu2-extra1 {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    background-position: center;
}

.fs-hmenu2-extra2 {
    position: relative;
    display: block;
    float: right;
    width: auto;
    height: auto;
    background-position: center;
}

.fs-hmenu2 {
    float: right;
}

.fs-menuitemcontainer {
    margin: 0 auto;
}

ul.fs-hmenu2>li {
    margin-left: 11px;
}

ul.fs-hmenu2>li:first-child {
    margin-left: 5px;
}

ul.fs-hmenu2>li:last-child, ul.fs-hmenu2>li.last-child {
    margin-right: 5px;
}

ul.fs-hmenu2>li>a {
    background: #818FB1;
    background: linear-gradient(top, rgba(176, 185, 207, 0.7) 0, rgba(97, 115, 158, 0.7) 81%, rgba(85, 101, 139, 0.7) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(176, 185, 207, 0.7) 0, rgba(97, 115, 158, 0.7) 81%, rgba(85, 101, 139, 0.7) 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(176, 185, 207, 0.7) 0, rgba(97, 115, 158, 0.7) 81%, rgba(85, 101, 139, 0.7) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(176, 185, 207, 0.7) 0, rgba(97, 115, 158, 0.7) 81%, rgba(85, 101, 139, 0.7) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(176, 185, 207, 0.7) 0, rgba(97, 115, 158, 0.7) 81%, rgba(85, 101, 139, 0.7) 100%) no-repeat;
    background: linear-gradient(top, rgba(176, 185, 207, 0.7) 0, rgba(97, 115, 158, 0.7) 81%, rgba(85, 101, 139, 0.7) 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(176, 185, 207, 0.7) 0, rgba(97, 115, 158, 0.7) 81%, rgba(85, 101, 139, 0.7) 100%) no-repeat;
    -webkit-border-radius: 6px 0 0;
    -moz-border-radius: 6px 0 0;
    border-radius: 6px 0 0;
    border: 1px solid rgba(76, 90, 123, 0.5);
    border-bottom: none;
    padding: 0 34px;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 33px;
    cursor: pointer;
    text-decoration: none;
    color: #1D2A29;
    line-height: 33px;
    text-align: center;
}

.fs-hmenu2 a,
.fs-hmenu2 a:link,
.fs-hmenu2 a:visited,
.fs-hmenu2 a.active,
.fs-hmenu2 a:hover {
    font-size: 14px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: left;
}

ul.fs-hmenu2>li>a.active {
    background: #F6A904;
    background: linear-gradient(top, #FCC44A 0, #FBAD04 47%, #AB7603 100%) no-repeat;
    background: -webkit-linear-gradient(top, #FCC44A 0, #FBAD04 47%, #AB7603 100%) no-repeat;
    background: -moz-linear-gradient(top, #FCC44A 0, #FBAD04 47%, #AB7603 100%) no-repeat;
    background: -o-linear-gradient(top, #FCC44A 0, #FBAD04 47%, #AB7603 100%) no-repeat;
    background: -ms-linear-gradient(top, #FCC44A 0, #FBAD04 47%, #AB7603 100%) no-repeat;
    background: linear-gradient(top, #FCC44A 0, #FBAD04 47%, #AB7603 100%) no-repeat;
    -svg-background: linear-gradient(top, #FCC44A 0, #FBAD04 47%, #AB7603 100%) no-repeat;
    -webkit-border-radius: 6px 0 0;
    -moz-border-radius: 6px 0 0;
    border-radius: 6px 0 0;
    border: 1px solid #F6A904;
    border-bottom: none;
    padding: 0 34px;
    margin: 0 auto;
    color: #000000;
    padding-bottom: 1px;
    margin-bottom: -1px;
    text-decoration: none;
}

ul.fs-hmenu2>li>a:visited,
ul.fs-hmenu2>li>a:hover,
ul.fs-hmenu2>li:hover>a {
    text-decoration: none;
}

ul.fs-hmenu2>li>a:hover, .desktop ul.fs-hmenu2>li:hover>a {
    background: #2B7DB1;
    background: linear-gradient(top, rgba(83, 163, 213, 0.9) 0, rgba(50, 146, 205, 0.9) 27%, rgba(28, 82, 115, 0.9) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(83, 163, 213, 0.9) 0, rgba(50, 146, 205, 0.9) 27%, rgba(28, 82, 115, 0.9) 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(83, 163, 213, 0.9) 0, rgba(50, 146, 205, 0.9) 27%, rgba(28, 82, 115, 0.9) 100%) no-repeat;
    background: -o-linear-gradient(top, rgba(83, 163, 213, 0.9) 0, rgba(50, 146, 205, 0.9) 27%, rgba(28, 82, 115, 0.9) 100%) no-repeat;
    background: -ms-linear-gradient(top, rgba(83, 163, 213, 0.9) 0, rgba(50, 146, 205, 0.9) 27%, rgba(28, 82, 115, 0.9) 100%) no-repeat;
    background: linear-gradient(top, rgba(83, 163, 213, 0.9) 0, rgba(50, 146, 205, 0.9) 27%, rgba(28, 82, 115, 0.9) 100%) no-repeat;
    -svg-background: linear-gradient(top, rgba(83, 163, 213, 0.9) 0, rgba(50, 146, 205, 0.9) 27%, rgba(28, 82, 115, 0.9) 100%) no-repeat;
    -webkit-border-radius: 6px 0 0;
    -moz-border-radius: 6px 0 0;
    border-radius: 6px 0 0;
    border: 1px solid rgba(98, 141, 139, 0.1);
    border-bottom: none;
    padding: 0 34px;
    margin: 0 auto;
}

ul.fs-hmenu2>li>a:hover,
.desktop-nav ul.fs-hmenu2>li:hover>a {
    color: #FFFFFF;
    text-decoration: none;
}

ul.fs-hmenu2>li>a.active:hover {
    padding-bottom: 0;
    margin-bottom: 0;
}

ul.fs-hmenu2>li:before {
    position: absolute;
    display: block;
    content: ' ';
    top: 0;
    left: -11px;
    width: 11px;
    height: 33px;
    background: url('/images/fe-blu-02/menuseparator.png') center center no-repeat;
}

ul.fs-hmenu2>li:first-child:before {
    display: none;
}

ul.fs-hmenu2 li li a {
    background: #A0ABC5;
    background: transparent;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 0 22px;
    margin: 0 auto;
}

ul.fs-hmenu2 li li {
    float: none;
    width: auto;
    margin-top: 6px;
    margin-bottom: 6px;
}

.desktop-nav ul.fs-hmenu2 li li ul>li:first-child {
    margin-top: 0;
}

ul.fs-hmenu2 li li ul>li:last-child {
    margin-bottom: 0;
}

.fs-hmenu2 ul a {
    display: block;
    white-space: nowrap;
    height: 29px;
    min-width: 7em;
    border: 0 solid transparent;
    text-align: left;
    line-height: 29px;
    color: #DBE6E5;
    font-size: 12px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
}

.fs-hmenu2 ul a:link,
.fs-hmenu2 ul a:visited,
.fs-hmenu2 ul a.active,
.fs-hmenu2 ul a:hover {
    text-align: left;
    line-height: 29px;
    color: #DBE6E5;
    font-size: 12px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
}

ul.fs-hmenu2 ul li a:hover, .desktop ul.fs-hmenu2 ul li:hover>a {
    background: #818FB1;
    background: transparent;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0 auto;
}

.fs-hmenu2 ul li a:hover {
    color: #000000;
}

.desktop-nav .fs-hmenu2 ul li:hover>a {
    color: #000000;
}

ul.fs-hmenu2 ul:before {
    background: #5F719B;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
    position: absolute;
    content: ' ';
    z-index: 1;
}

.desktop-nav ul.fs-hmenu2 li:hover>ul {
    visibility: visible;
    top: 100%;
}

.desktop-nav ul.fs-hmenu2 li li:hover>ul {
    top: 0;
    left: 100%;
}

ul.fs-hmenu2 ul {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-image: url('/images/fe-blu-02/spacer2.gif');
}
