.art-nav
{
   background: #FBC737;
   background: linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -moz-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -o-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -ms-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   -svg-background: linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   border:1px solid #000000;
  /* border-left:none;
   border-right:none;  */
   z-index: 100;
   font-size: 0;
  /* position: absolute;  */
   margin: 0;
   top:   0;
   width: 100%;
   text-align: center;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
}

.art-nav:before 
{
   content:' ';
}

.art-hmenu-extra1
{
   position : absolute;
   left: 0;
   top: 0;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: absolute;
   right: 0;
   top: 0;
   width: auto;
   height: auto;
   background-position: center;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 1px;
}
ul.art-hmenu>li:first-child {
   margin-left: 0;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 0;
}

ul.art-hmenu>li>a
{
   background: #C39004;
   background: linear-gradient(top, #AA7E03 0, #D79F04 40%, #D79F04 50%, #D79F04 60%, #AA7E03 100%) no-repeat;
   background: -webkit-linear-gradient(top, #AA7E03 0, #D79F04 40%, #D79F04 50%, #D79F04 60%, #AA7E03 100%) no-repeat;
   background: -moz-linear-gradient(top, #AA7E03 0, #D79F04 40%, #D79F04 50%, #D79F04 60%, #AA7E03 100%) no-repeat;
   background: -o-linear-gradient(top, #AA7E03 0, #D79F04 40%, #D79F04 50%, #D79F04 60%, #AA7E03 100%) no-repeat;
   background: -ms-linear-gradient(top, #AA7E03 0, #D79F04 40%, #D79F04 50%, #D79F04 60%, #AA7E03 100%) no-repeat;
   background: linear-gradient(top, #AA7E03 0, #D79F04 40%, #D79F04 50%, #D79F04 60%, #AA7E03 100%) no-repeat;
   -svg-background: linear-gradient(top, #AA7E03 0, #D79F04 40%, #D79F04 50%, #D79F04 60%, #AA7E03 100%) no-repeat;
   padding:0 28px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 60px;
   cursor: pointer;
   text-decoration: none;
   color: #FDE8AF;
   line-height: 60px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   padding:0 28px;
   margin:0 auto;
   color: #FEF4D7;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #2C4D63;
   background: linear-gradient(top, #39637F 0, #203746 100%) no-repeat;
   background: -webkit-linear-gradient(top, #39637F 0, #203746 100%) no-repeat;
   background: -moz-linear-gradient(top, #39637F 0, #203746 100%) no-repeat;
   background: -o-linear-gradient(top, #39637F 0, #203746 100%) no-repeat;
   background: -ms-linear-gradient(top, #39637F 0, #203746 100%) no-repeat;
   background: linear-gradient(top, #39637F 0, #203746 100%) no-repeat;
   -svg-background: linear-gradient(top, #39637F 0, #203746 100%) no-repeat;
   padding:0 28px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop-nav ul.art-hmenu>li:hover>a {
   color: #BDBDBD;
   text-decoration: none;
}

ul.art-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -1px;
   width:1px;
   height: 60px;
   background: url('/images/fe-blu-02/menuseparator2.png') center center no-repeat;
}
ul.art-hmenu>li:first-child:before{
   display:none;
}

ul.art-hmenu li li a
{
   background: #FCD66E;
   background: transparent;
   padding:0 22px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 2px;
   margin-bottom: 2px;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 26px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 26px;
   color: #5F4602;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 26px;
   color: #5F4602;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #C7C7C7;
   background: transparent;
   margin:0 auto;
}
.art-hmenu ul a:hover
{
   text-decoration: underline;
}

.art-hmenu ul li a:hover
{
   color: #000000;
}

.desktop-nav .art-hmenu ul li:hover>a
{
   color: #000000;
}

ul.art-hmenu ul:before
{
   background: #FDEAB4;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}


ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('/images/fe-blu-02/spacer2.gif');
}


ul.art-hmenu>li.ext>.ext-r,
ul.art-hmenu>li.ext>.ext-l,
ul.art-hmenu>li.ext>.ext-m,
ul.art-hmenu>li.ext>.ext-off
{
   display: none;
   z-index: 12;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

