/.project
/.loadpath
/config/additional_environment.rb
/config/configuration.yml
/config/environments/development.rb
/config/environments/production.rb
/config/database.yml
/config/email.yml
/config/old_email.yml
/config/initializers/session_store.rb
/coverage
/db/*.db
/db/*.sqlite3
/db/schema.rb
/files/*
/lib/redmine/scm/adapters/mercurial/redminehelper.pyc
/lib/redmine/scm/adapters/mercurial/redminehelper.pyo
/log/*.log*
/log/mongrel_debug
/public/dispatch.*
/public/plugin_assets
/tmp/*
/tmp/cache/*
/tmp/sessions/*
/tmp/sockets/*
/tmp/test/*
/vendor/rails
*.rbc

/.bundle
/Gemfile.lock
/Gemfile.local



db/*.sqlite3
log/*.log
tmp/
doc/
*.swp
*~
.project
.DS_Store
config/database.yml
/.idea
/config/.config.www

.rvmrc

/config/environment.rb
/config/environments/production.rb
/lib/redmine/imap.rb
/lib/redmine/pop3.rb
/public/images/users/*
/public/images/articoli/*
/public/images/commons/nook/*
/public/images/commons/assos/*
/public/images/commons/sections/*
/public/images/commons/organizations/*
/public/images/commons/banners/*
/public/images/ckeditor_assets/*

