<h1 style="display:none">__PARTIAL ARTICOLO TEASER</h1>

<div class="fs-postcontent fs-postcontent-0 clearfix">
  <div class="fs-content-layout">
    <div class="fs-content-layout-row">
      <div class="fs-layout-cell layout-item-0" style="width: 100%">
        <h6 style="font-size:12px; ">
          <%= link_to (h(truncate(articolo.subject, :length => 50)),
                       link_to_articolo(articolo))
          %>
        </h6>
         <%# articolo.section.issues.count %>
        <span class="fs-postauthoricon">
            <%= h articolo.author %>
          </span>
        <br/>

        <div class="fs-postcontent" style="line-height:11px; font-size:11px;">

          <%= link_to (h(truncate(articolo.summary, :length => 125)),
              link_to_articolo(articolo))
          %>
          <br/></div>
        <%# link_to "Continua... ", link_to_articolo(articolo) %>
        <p style="border-bottom: 1px dotted #A8ADB8; padding-bottom: 5px"></p>
      </div>
    </div>
  </div>
</div>
