<h1 style="display:none">TOP_SEZIONE<%= @base_url %>TOP_sezione</h1>
<%= render :partial => 'articoli', :locals => {:issues => @issues, :issues_pages => @issues_pages, :issues_count => @issues_count} %>
