<h2><%=l(:list_articoli)%></h2>
  In questa pagina:
  <ul> 
    <li>Lista degli articoli</li>
    <li>Filtraggio sul contenuto</li>
    <li>LINK: all'edizione di ciascun articoli</li>
    <li>LINK: alla sezione di ciascun articoli</li>
  </ul> 
  
