 <div class="fs-layout-cell fs-sidebar2">

   <%= render :partial => 'blocco_ricerca'  %>
   <%# render :partial => 'blocco_account'  %>
   <%= render :partial => 'blocco_semplice'  %>

   <div class="cleared"></div>
 </div>
