<div class="fs-box fs-block">
  <div class="fs-box-body fs-block-body">
    <div class="fs-bar fs-blockheader">
    <h3 class="t">Esempio Blocco </h3>
    </div>

    <div class="fs-box fs-blockcontent">
      <div class="fs-box-body fs-blockcontent-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris. Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id.</p>
        <blockquote style="margin: 10px 0">
          Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed. Donec vel neque in neque porta venenatis sed sit amet lectus.
        </blockquote>
        <p><a href="#">Read more</a></p>, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris.</p>

      </div>
      <div class="cleared"></div>
    </div>
    <div class="cleared"></div>
  </div>
</div>
