<div class="fs-block clearfix">
      <div class="fs-blockheader">
        <h3 class="t">Articoli Simili</h3> <!-- <span style="font-size: 14px; font-weight: bold;">:(<%#@issues.count %>)</span> -->
      </div>
  <% if @artsimilar && @artsimilar.any? %>
      <div class="fs-blockcontent">
            <article class="fs-article">
              <% @artsimilar.each do |articolo| %>
                <div class="fs-content-layout">
                  <div class="fs-content-layout-row">
                    <div class="fs-layout-cell layout-item-3" style="text-align: left;">
                      <%= link_to_articolo(articolo, :title=> h(smart_truncate(articolo.subject, 120))) %>
                       <%# articolo.section.issues.count %>
                       <br/>

                      <div class="fs-postcontent">
                        <div class="fs-box-link">
                       <div><%= image_tag(art_image(articolo, :s)) %></div>
                        <%= link_to_articolo(articolo, :title=> h(smart_truncate(articolo.summary, 220))) %>
                        <br/>
                        </div>
                      </div>
                      <%# link_to "Continua... ", link_to_articolo(articolo) %>
                      <p class="separticle"></p>
                    </div>
                  </div>
                </div>
                  <hr>
              <% end %>
            </article>
      </div>
  <% else %>
      <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>

</div>