<div class="fs-layout-cell fs-sidebar1 clearfix">
  <div class="fs-block clearfix">
    <%= render :partial => 'blocco_banners1' %>
    <%= render :partial => 'blocco_account' %>
    <%= render :partial => 'blocco_art_evidenziati' %>
  </div>
</div>

