<div class="fs-box fs-block">
  <div class="fs-box-body fs-block-body">
    <div class="fs-bar fs-blockheader">
      <h3 class="t">Nuovo Blocco</h3>
    </div>

    <div class="fs-box fs-blockcontent">
      <div class="fs-box-body fs-blockcontent-body">

        <p>Contenuti qui ...</p>
        <p style="font-size: 150%; font-weight: bold; text-align: left;" >Blocchi dal contenuto variabile
        si può decidere di farli apparire o meno
        si può modificarne la larghezzza e la posizione SX o SX </p>

        <div class="cleared"></div>
      </div>
    </div>
    <div class="cleared"></div>
  </div>
</div>
