<div class="fs-layout-cell fs-sidebar1 clearfix">
    <%= render :partial => 'blocco_slide1' %>
  <% if !@block_projects.nil? %>
               <%= render :partial => 'blocco_edizioni' %>
              <% end %>
  <% if !@conv_prossimo.nil? %>
         <%= render :partial => 'blocco_eventi' %>
        <% end %>
    <%# render :partial =>  'blocco_ricerca' %>
    <%# render :partial => 'blocco_banners1' %>
    <%# render :partial => 'blocco_account' %>
  <% if !@articolo.nil? %>
    <%= render :partial => 'blocco_art_evidenziati' %>
     <%	end  %>

</div>

