<div class="fs-blockcontent">
  <div id="newsticker-wrap">
    <div class="newsticker-jcarousellite">
      <ul>
        <li>
          <div class="thumbnail">
            <img src="/images/banners/1.jpg">
          </div>
          <div class="info">
            <a href="http://www.vladstudio.com/wallpaper/?knight_lady">The Knight and the Lady</a>
            <span class="cat">Category: Illustrations</span>
          </div>
          <div class="cleared"></div>
        </li>

        <li>
          <div class="thumbnail">
            <img src="/images/banners/2.jpg">
          </div>
          <div class="info">
            <a href="http://www.vladstudio.com/wallpaper/?family_of_colors">The Family of Colors</a>
            <span class="cat">Category: Creatures</span>
          </div>
          <div class="cleared"></div>
        </li>
        <li>
          <div class="thumbnail">
            <img src="/images/banners/3.jpg">
          </div>
          <div class="info">
            <a href="http://www.vladstudio.com/wallpaper/?teddybear_mac">Teddy Bear and MacBook</a>
            <span class="cat">Category: Photos</span>
          </div>
          <div class="cleared"></div>
        </li>
        <li>
          <div class="thumbnail">
            <img src="/images/banners/4.jpg">
          </div>
          <div class="info">
            <a href="http://www.vladstudio.com/wallpaper/?rainbow_butterfly">Rainbow Butterfly</a>
            <span class="cat">Category: Abstract art</span>
          </div>
          <div class="cleared"></div>
        </li>
        <li>
          <div class="thumbnail">
            <img src="/images/banners/5.jpg">
          </div>
          <div class="info">
            <a href="http://www.vladstudio.com/wallpaper/?space_travel">Space Travel</a>
            <span class="cat">Category: Abstract art</span>
          </div>
          <div class="cleared"></div>
        </li>
        <li>
          <div class="thumbnail">
            <img src="/images/banners/6.jpg">
          </div>
          <div class="info">
            <a href="http://www.vladstudio.com/wallpaper/?traveling_tree">The Traveling Tree</a>
            <span class="cat">Category: Creatures</span>
          </div>
          <div class="cleared"></div>
        </li>
        <li>
          <div class="thumbnail">
            <img src="/images/banners/7.jpg">
          </div>
          <div class="info">
            <a href="http://www.vladstudio.com/wallpaper/?traveling_tree">balla bla</a>
            <span class="cat">Category: Creatures</span>
          </div>
          <div class="cleared"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="cleared"></div>
