<div class="fs-layout-cell fs-sidebar2">
  <div class="fs-layout-cell fs-sidebar2 clearfix">

    <%# render :partial => 'blocco_account' %>
       <%#= render :partial => 'blocco_ricerca' %>
          <%# render :partial => 'blocco_account'  %>
          <%= render :partial => 'blocco_semplice' %>
</div> </div>