<% if  banners_block_l.count > 0 %>
    <div class="fs-block clearfix">
      <div class="banners_block_l_carousel">
        <div id="carousel_block_l_js">
          <% banners_block_l.each do |i| %>
              <%= image_tag i.image.url(:block_l) %>
          <% end %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
<% end %>