<% if User.current.logged? &&  !User.current.state.empty?  %>
  <div class="fs-block clearfix">
       <div class="fs-blockcontent">
      <div id="fs_informa">
        <p><%= User.current.state %></p>
      </div>
    </div>
  </div>
<% end %>
