<div class=" ">
  <div class="">
    <div class="fs-bar fs-blockheader">

    </div>
    <script>
        $(document).ready(function () {
            $("#accordion-events-contact").accordion({heightStyle:"content", autoHeight:false, active:1 });
        });
    </script>
    <div >
      <div >

        <div id="accordion-events-contact">
          <div id="fs-events-contact"></div>
          <% remote_form_for(
                     :user,
                     :url => {:controller => 'editorial', :action => 'send_proposal_meeting'},
                        :html => {
                               :id=> 'user_send_mail',
                             :method => :put,
                             :multipart => true}
             ) do  %>

                    <%= text_area_tag 'message',"scrivi un messaggio qui ..." , :cols => 32, :rows => 10 %>
              <br />

                <p style="margin-top: 3px; margin-right: 30px; height: 30px;" >  <%= submit_tag "invia", :class => "fs-vuoto-inline-button" %></p>
            <% end %>
          <div id='user-response'></div>
        </div>

        <div class="cleared"></div>
      </div>
    </div>
    <div class="cleared"></div>
  </div>
</div>
