<div class="fs-block clearfix">
  <div class="fs-blockheader">
    <h3 class="t">Social</h3> <!-- <span style="font-size: 14px; font-weight: bold;">:(<%#@issues.count %>)</span> -->    </div>
  <script type="text/javascript">var switchTo5x = false;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher:"65432", doNotHash:true, doNotCopy:false, hashAddressBar:true  });</script>
  <div class="fs-blockcontent">
    <article class="fs-article">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-3" style="text-align: left; padding-top: 10px;">
            <span class='st_facebook_large' displayText='Facebook'></span>
            <span class='st_twitter_large' displayText='Tweet'></span>
            <span class='st_linkedin_large' displayText='LinkedIn'></span>
            <span class='st_googleplus_large' displayText='Google +'></span>
            <span class='st_pinterest_large' displayText='Pinterest'></span>
            <span class='st_reddit_large' displayText='Reddit'></span>
            <span class='st_dzone_large' displayText='DZone'></span>
            <span class='st_digg_large' displayText='Digg'></span>
            <span class='st_messenger_large' displayText='Messenger'></span>
            <span class='st_email_large' displayText='Email'></span>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>