<div class="fs-block clearfix">
  <div class="fs-blockheader">
    <h3 class="t">Accesso Utenti Abbonati</h3>
  </div>
  <div class="fs-blockcontent">
    <form action="#"  method="post" name="login" id="form-login">
      <fieldset class="input" style="border: 0 none;">
        <p id="form-login-username">
          <label for="modlgn_username">Username</label>
          <br/>
          <input id="modlgn_username" type="text" name="username" class="inputbox" alt="username"
                 size="18"/>
        </p>
        <p id="form-login-password">
          <label for="modlgn_passwd">Password</label>
          <br/>
          <input id="modlgn_passwd" type="password" name="passwd" class="inputbox" size="18"
                 alt="password"/>
        </p>

        <p id="form-login-remember">
          <label class="fs-checkbox">
            <input type="checkbox" id="modlgn_remember" name="remember" value="yes" alt="Remember Me"/>Remember
            Me
          </label>
        </p>
        <input type="submit" value="Login" name="Submit" class="fs-button"/>
      </fieldset>



      <ul>
        <li>
          <a href="#">Dimenticato la password?</a>
        </li>
        <li>
          <a href="#">Dimenticato la username?</a>
        </li>
        <li>
          <a href="#">Crea un account</a>
        </li>
      </ul>
    </form>
  </div>
</div>
<!-- fine accounts -->
