<div class="fs-block clearfix">
  <div class="fs-blockheader">
  <!--slider START-->
    <div id="background_slider">
      <div id="a-left">a</div>
      <div id="slider"></div>
      <div id="a-right">A</div>
    </div>
    <!--slider END-->


    <!--Target text-->
    <br>
  </div>
</div>