<div class="fs-block clearfix">
  <div class="fs-blockheader">
    <div class="t">Ricerca</div>
  </div>
  <div class="fs-blockcontent">
    <div>
      <form action="#" class="fs-search" method="get" name="searchform">
        <input type="text" value="" name="s"/>
        <input type="submit" value="Search" name="search" class="fs-search-button"/>
      </form>
    </div>
  </div>
</div>
<!--
      
        <form method="get" name="searchform" action="#">
          <input type="text" value="" name="s" style="width: 95%;" />
                      <span class="fs-button-wrapper">
          <span class="fs-button-l"> </span>
          <span class="fs-button-r"> </span>
          <a class="fs-button" href="javascript:void(0)">Search</a>
          </span>
        </form> 

        <% if User.current.logged? || !Setting.login_required? %>
        <div id="quick-search">
            <% form_tag({:controller => 'editorial', :action => 'ricerca', :id => @project}, :method => :get) do %>
        <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
            <label for='q'>
              <%= link_to l(:label_search), {:controller => 'editorial', :action => 'ricerca', :id => @project}, :accesskey => accesskey(:search) %>:
            </label>
            <%= text_field_tag 'q', @question, :size => 20, :class => 'small', :accesskey => accesskey(:quick_search) %>
    <% end %>
    <%= render_project_jump_box_fs %>
        </div>
        <% end %>
-->


