<div class="fs-layout-cell fs-sidebar2">
  <div class="fs-layout-cell fs-sidebar2 clearfix">
     <%= render :partial => 'blocco_semplice' %>
    <%= render :partial => 'blocco_art_evidenziati' %>
  </div>
</div>