<div class="fs-block clearfix">
  <div class="fs-blockheader">
    <h3 class="t">I Nostri Consociati</h3>
  </div>
  <div class="fs-blockcontent">
    <div id="newsticker-wrap">
      <div class="newsticker-jcarousellite">
        <ul>
          <li>
            <div class="thumbnail">
              <img src="/images/banners/1.jpg">
            </div>
            <div class="info">
              <a href="http://www.vladstudio.com/wallpaper/?knight_lady">Didascalia</a>
              <!-- <span class="cat">Category: Illustrations</span>   -->
            </div>
            <div class="cleared"></div>
          </li>

          <li>
            <div class="thumbnail">
              <img src="/images/banners/2.jpg">
            </div>
            <div class="info">
              <a href="http://www.vladstudio.com/wallpaper/?family_of_colors">Didascalia</a>
              <!-- <span class="cat">Category: Creatures</span> -->
            </div>
            <div class="cleared"></div>
          </li>
          <li>
            <div class="thumbnail">
              <img src="/images/banners/3.jpg">
            </div>
            <div class="info">
              <a href="http://www.vladstudio.com/wallpaper/?teddybear_mac">Didascalia</a>
              <!--  <span class="cat">Category: Photos</span>              -->
            </div>
            <div class="cleared"></div>
          </li>
          <li>
            <div class="thumbnail">
              <img src="/images/banners/4.jpg">
            </div>
            <div class="info">
              <a href="http://www.vladstudio.com/wallpaper/?rainbow_butterfly">Didascalia</a>
              <!--   <span class="cat">Category: Abstract art</span>        -->
            </div>
            <div class="cleared"></div>
          </li>
          <li>
            <div class="thumbnail">
              <img src="/images/banners/5.jpg">
            </div>
            <div class="info">
              <a href="http://www.vladstudio.com/wallpaper/?space_travel">Didascalia</a>
              <!--   <span class="cat">Category: Abstract art</span>    -->
            </div>
            <div class="cleared"></div>
          </li>
          <li>
            <div class="thumbnail">
              <img src="/images/banners/6.jpg">
            </div>
            <div class="info">
              <a href="http://www.vladstudio.com/wallpaper/?traveling_tree">Didascalia</a>
              <!--    <span class="cat">Category: Creatures</span>   -->
            </div>
            <div class="cleared"></div>
          </li>
          <li>
            <div class="thumbnail">
              <img src="/images/banners/7.jpg">
            </div>
            <div class="info">
              <a href="http://www.vladstudio.com/wallpaper/?traveling_tree">Didascalia</a>
              <!--    <span class="cat">Category: Creatures</span>    -->
            </div>
            <div class="cleared"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>