<div class="fs-box fs-block">
    <div class="fs-box-body fs-block-body">
        <div class="fs-bar fs-blockheader">

                    <h3 class="t">Ricerca</h3>

        </div>
            <div class="fs-box fs-blockcontent">
                <div class="fs-box-body fs-blockcontent-body">
                <div>
                <form method="get" name="searchform" action="#">
                    <input type="text" value="" name="s" style="width: 95%;" />
                    <span class="fs-button-wrapper">
                    <span class="fs-button-l"> </span>
                    <span class="fs-button-r"> </span>
                    <a class="fs-button" href="javascript:void(0)">Search</a>
                    </span>
                </form> 


            </div>
            <div class="cleared"></div>
        </div>
    </div>
	<div class="cleared"></div>
    </div>
</div>