
<div class="fs-block-slide clearfix">
  <div class="image-caption-wrapper" style="width: 60%; float: left">
    <div id="shutterstock_6228764804" style="position: relative; display: inline-block; z-index: 0; margin: 7px;  border-width: 0px;  float: left;" class="fs-collage">
      <div class="fs-slider fs-slidecontainershutterstock_6228764804">
        <div class="fs-slider-inner">
          <div class="fs-slide-item fs-slideshutterstock_62287648040">

          </div>
          <div class="fs-slide-item fs-slideshutterstock_62287648041">

          </div>
          <div class="fs-slide-item fs-slideshutterstock_62287648042">

          </div>
          <div class="fs-slide-item fs-slideshutterstock_62287648043">

          </div>

        </div>
      </div>
      <div class="fs-slidenavigator fs-slidenavigatorshutterstock_6228764804">
        <a href="#" class="fs-slidenavigatoritem"></a><a href="#" class="fs-slidenavigatoritem"></a><a href="#" class="fs-slidenavigatoritem"></a><a href="#" class="fs-slidenavigatoritem"></a>
      </div>
    </div>
  </div>
</div>
