<div class="fs-block clearfix">
  <div class="fs-blockheader">
    <h3 class="t">Articoli in
      Evidenza</h3> <!-- <span style="font-size: 14px; font-weight: bold;">:(<%#@issues.count %>)</span> -->
  </div>
  <% if @issues && @issues.any? %>
      <div class="fs-blockcontent">
        <% for articolo in @issues %>
            <div class="fs-postcontent fs-postcontent-0 clearfix">
              <div class="fs-content-layout">
                <div class="fs-content-layout-row">
                  <div class="fs-layout-cell layout-item-0" style="width: 100%">
                    <h4 class="fs-postheader">
                      <%= link_to_articolo(articolo, :title => h(truncate(articolo.subject, :length => 50))) %>
                    </h4>
                    <span class="fs-postauthoricon">
            <%= h articolo.author %>
          </span>
                    <br/>
                    <div class="fs-postcontent">
                      <div class="fs-box-link">
                        <%= link_to_articolo(articolo, :title => h(smart_truncate(articolo.summary, 130))) %>
                        <br/>
                      </div>
                    </div>
                    <p class="separticle"></p>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <br/>
      </div>
  <% else %>
      <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>

</div>
