<div class="fs-block clearfix">
        <div class="fs-blockheader">
            <h3 class="t">Nuovo Blocco</h3>
        </div>
        <div class="fs-blockcontent"><p></p>
<div id="slideshutterstock_1" style="position: relative; display: inline-block; z-index: 0; margin: 5px;  border-style: solid; border-color: #FEE7AF; border-width: 1px;  " class="fs-collage">
<div class="fs-slider fs-slidecontainerslideshutterstock_1">
    <div class="fs-slider-inner">
<div class="fs-slide-item fs-slideslideshutterstock_10">

</div>
<div class="fs-slide-item fs-slideslideshutterstock_11">

</div>
<div class="fs-slide-item fs-slideslideshutterstock_12">

</div>
<div class="fs-slide-item fs-slideslideshutterstock_13">

</div>
<div class="fs-slide-item fs-slideslideshutterstock_14">

</div>
<div class="fs-slide-item fs-slideslideshutterstock_15">

</div>

    </div>
</div>
<div class="fs-slidenavigator fs-slidenavigatorslideshutterstock_1">
<a href="#" class="fs-slidenavigatoritem"></a><a href="#" class="fs-slidenavigatoritem"></a><a href="#" class="fs-slidenavigatoritem"></a><a href="#" class="fs-slidenavigatoritem"></a><a href="#" class="fs-slidenavigatoritem"></a><a href="#" class="fs-slidenavigatoritem"></a>
</div>
    </div>
<p><br></p></div>
</div>
