<div class="fs-box fs-vmenublock">
  <div class="fs-box-body fs-vmenublock-body">
    <div class="fs-bar fs-vmenublockheader">

      <h3 class="t">Esempio Menu Verticale</h3>

    </div>

    <div class="fs-box fs-vmenublockcontent">
      <div class="fs-box-body fs-vmenublockcontent-body">

      <%# render_navigation :context => :? , :level => ? %>
      <%= render_navigation :context => :homev2  %>

      <div class="cleared"></div>
      </div>

    </div>
    <div class="cleared"></div>
  </div>
</div>
