    <div class="fs-footer">
        <div class="fs-footer-body">
            <div class="fs-footer-center">
                <div class="fs-footer-wrapper">
                    <div class="fs-footer-text">
                        <p><a href="#">Link</a> | <a href="#">Link</a> | <a href="#">Link</a></p>

                        <p>Copyright © 2012 All Rights Reserved thual & specchiasoft.</p>

                        <div class="cleared"></div>
                        <p class="fs-page-footer"></p>
                    </div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>