<%# @xbanner.each do |ban| %>

<!--  <li> <%# image_tag("/images/banners/"+ ban.banner , :alt => ban.espositore, :width =>80) %> <%# ban.didascalia %> </li> -->
<%# end %>
<p class="fs-tramenu-blockheader x-blue">Organismi convenzionati</p>
<% if  tramenu_convenctions_logo.count > 0  %>
<div class="list_assos_carousel" style="height:100px; overflow: hidden;" >
  <ul id="carousel_assos_js">
     <% tramenu_convenctions_logo.each do |i|  %>
        <li>    <%=  image_tag i.image.url(:m) %> </li>
     <% end %>
  </ul>
  <div class="clearfix"></div>
</div> <!-- /image_carousel -->
 <% else %>
 <h3>nessuna associazione aderente</h3>
 <% end %>