<h2><%=l(:register)%></h2>
  In questa pagina:
  <ul> 
    <li>Wizard di auto compilazione editoriale</li>
    <li>AZIONE: registra nuovo utente, invia email, [associa ad organismo associato + email verificazione al power user]</li>
  </ul> 
