<%= render :partial => 'blocco_sidebar2' %>
<div class="fs-layout-cell fs-content clearfix">
  <article class="fs-post fs-article">
    <div class="fs-postcontent fs-postcontent-0 clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-0" style="width: 100%">
            <%= render :partial => 'articolo_full', :locals => {:articolo => @articolo} %>

            <%# link_to "Ritorna ...", @issue.section.top_section.top_menu.key + '/'+ @issue.section.top_section.key %>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </article>
  <br/>

  <div class="clearfix"></div>
</div>
<%#sidebar a centro destra %>
<%= render :partial => 'blocco_sidebar1' %>
<%#sidebar a destra %>
<%# render :partial => 'blocco_sidebar2' %>
