<h2><%=l(:details_articolo)%></h2>
  In questa pagina:
  <ul> 
    <li>Presentazione di un articolo</li>
    <li>PERMESSI sulla vissualizzazione dei contenuti</li>
    <li>AZIONE: ritorno a la lista articoli</li>
    <li>AZIONE: proponi un quesito legato a questo articolo</li>
    <li>NETWORK: Mi piace? --> futuro</li>
    <li>NETWORK: Commenta? --> futuro</li>
  </ul> 
