<h1 style="display:none">ARTICOLO DETTAGLIO DI <b>UNo SOLO</b> ARTICOLO</h1>
<div class="fs-layout-cell fs-content clearfix">
  <article class="fs-post fs-article">
    <div class="fs-postcontent fs-postcontent-0 clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-0" style="width: 100%">

            <%= render :partial => 'articolo_full', :locals => {:articolo => @articolo} %>

          </div>
        </div>
      </div>
    </div>
    <br/>
</article>
<!--
<h2><%=l(:details_articolo)%></h2>
  In questa pagina:
<h3> id= <%= @id %>
  <%= @articolo.riassunto %>


</h3>
  <ul>
    <li>Presentazione di un articolo</li>
    <li>PERMESSI sulla vissualizzazione dei contenuti</li>
    <li>LINK: ritorno a la lista articoli</li>
    <li>LINK: all'edizione dell'articolo</li>
    <li>LINK: alla sezione dell'articolo</li>
    <li>AZIONE: proponi un quesito legato a questo articolo</li>
futuro</li>
 futuro</li>
  </ul>
-->
