<h2><%=l(:list_edizioni)%></h2>
  In questa pagina:
  <ul> 
    <li>lista delle edizioni</li>
    <li>filtraggio sul contenuto</li>
    <li>Vista statistica: sezioni, numero articoli</li>
    <li>LINK: alla singola sezione</li>
    <li>LINK: al singolo articolo</li>
  </ul> 
