<h1 style="display:block">Enti  e Federazioni</h1>
<h3 style="display:block">Pagina in costruzione</h3>

<%#render :partial => 'articoli', :locals => {:issues => @issues, :issues_pages => @issues_pages, :issues_count => @issues_count} %>
<%#sidebar a centro destra %>
<%# render :partial => 'blocco_sidebar1' %>
<%#sidebar a destra %>
<%= render :partial => 'blocco_sidebar2' %>