<h1 style="display:block">Enti  e Federazioni</h1>
<h2 style="color:red">Pagina in costruzione</h2>
<p class="fs-postcontent"> Contenuto da definire probabilmente conterrà i link e altre informazioni delle federazioni </p>
<%#render :partial => 'articoli', :locals => {:issues => @issues, :issues_pages => @issues_pages, :issues_count => @issues_count} %>
<%#sidebar a centro destra %>
<%# render :partial => 'blocco_sidebar1' %>
<%#sidebar a destra %>
<%= render :partial => 'blocco_sidebar2' %>