<h2><%=l(:help)%></h2>
  In questa pagina:
  <ul> 
    <li>How to ed informazioni per aiutare l'utente</li>
  </ul> 
<div class="footer">
            <div style="margin-top: 8px" class="footer_contact">
                <div class="footer_tel">
                    <img src="images/footer_tel.png" id="ctl06_img_footer">
                </div>
                <div class="footer_call">
                    Hai bisogno d’aiuto?! Telefonaci allo 075.9229776
                  </div>
                <div class="footer_social">
                    <div style="margin-left: 130px" class="footer_social_img">
                        <a target="_blank" href="http://www.youtube.com/user/MerciDolci">
                        <img src="http://www.commercioetico.it/images/social_youtube.png">
                        </a>
                    </div>
                    <div class="footer_social_img">
                        <a target="_blank" href="http://twitter.com/#!/Commercio_Etico">
                        <img src="http://www.commercioetico.it/images/social_twitter.png">
                        </a>
                    </div>
                    <div class="footer_social_img">
                        <a target="_blank" href="http://myworld.ebay.it/merci-dolci/">
                        <img src="http://www.commercioetico.it/images/social_ebay.png">
                        </a>
                    </div>
                    <div class="footer_social_img">
                        <img src="http://www.commercioetico.it/images/social_rss.png">
                    </div>
                    <div class="footer_social_img">
                        <a target="_blank" href="http://www.facebook.com/commercioetico">
                        <img src="http://www.commercioetico.it/images/social_facebook.png">
                        </a>
                    </div>
                </div>

            </div>

            <div class="footer_menu">
                <div class="footer_menu_comp">
                    <div class="footer_menu_title">
                        merci dolci s.r.l.
                    </div>
                    <div class="footer_menu_text">
                        Commercioetico.it è un sito gestito da <br>
                        Merci Dolci srl - sede legale: loc. S. Cristina, 14 - 06020 Gubbio (PG) - PI. 02635810548
                    </div>
                    <div class="footer_menu_link">
                        <a class="Georgia16_Gray " href="http://www.commercioetico.it/contatti.aspx">contatti</a>&nbsp; |&nbsp;
                        <a class="Georgia16_Gray " href="http://www.commercioetico.it/chisiamo.aspx">chi siamo</a>&nbsp; |&nbsp;
                        <a class="Georgia16_Gray " href="http://www.commercioetico.it/faq.aspx">f.a.q.</a>
                    </div>
                </div>
                
                <div style="width: 570px; border: none" class="footer_menu_comp">
                    <div style="width: 570px;" class="footer_menu_title">
                        spedizioni ed ordini
                    </div>

                    <div style="width: 570px;" class="footer_menu_text">
                        <a class="Verdana12" href="http://www.commercioetico.it/static/1/termini_e_condizioni.aspx">Termini e Condizioni</a> - 
                        <a class="Verdana12" href="http://www.commercioetico.it/static/2/diritto_di_recesso.aspx">Diritto di Recesso</a> - 
                        <a class="Verdana12" href="http://www.commercioetico.it/static/3/garanzie.aspx">Garanzie</a> - 
                        <a class="Verdana12" href="http://www.commercioetico.it/static/4/pagamenti_e_spedizioni.aspx">Pagamenti e Spedizioni</a><br>
                        <a class="Verdana12" href="http://www.commercioetico.it/static/5/privacy.aspx">Privacy</a> - 
                        <a class="Verdana12" href="http://www.commercioetico.it/static/6/spedizioni_all_estero.aspx">Spedizioni all’Estero</a> - 
                        <a class="Verdana12" href="http://www.commercioetico.it/static/7/il_nostro_lavoro.aspx">Il Nostro Lavoro</a> 
                    </div>
                   
                </div>
            </div>
        
        </div>
