<h2><%=l(:label_workon)%></h2>
<script type="text/javascript">
  //$(function () {
  $(document).ready(function() {
    $("#tabs").tabs();
  });
</script>
<div id="tabs">
  <ul>
      <li><a href="#tabs-1">
          <h3 class="fs-tab">
              Posizione 1</h3>
      </a></li>
      <li><a href="#tabs-2">
          <h3 class="fs-tab">
              Posizione 2</h3>
      </a></li>
      <li><a href="#tabs-3">
          <h3 class="fs-tab">
              Posizione 3</h3>
      </a></li>
  </ul>
  <div id="tabs-1">
    <h2 style="color:red">Pagine in costruzione</h2>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar metus eget augue elementum rhoncus posuere massa congue. Mauris elementum arcu vel massa malesuada ac sagittis sapien molestie. Donec dapibus bibendum feugiat. Vestibulum feugiat erat id est condimentum vitae facilisis turpis mollis. Pellentesque dapibus enim vitae sem tempor a ornare ligula porta. Pellentesque porta mi eget nibh vehicula sodales. Vivamus nec ante ipsum, malesuada varius ante. Vivamus libero ante, vehicula id auctor id, bibendum in velit. Sed a turpis nulla, nec euismod risus. Mauris vel suscipit erat. Donec ac risus a nulla imperdiet fermentum.

Sed sit amet ligula nulla, ac ullamcorper dolor. Sed hendrerit consequat tellus eget pharetra. Duis ut rutrum ligula. Nullam ac libero eu enim vestibulum egestas vitae sed erat. Aliquam nisl elit, fringilla id sodales ut, tristique a purus. Donec luctus tincidunt enim vel semper. Nulla suscipit orci augue, non cursus felis. Nam ultricies, dolor ut tincidunt pellentesque, sem sapien euismod justo, vel sodales ipsum justo sit amet sem. Nunc ultrices lacinia convallis. Maecenas quis dictum ipsum. Sed pharetra elit at est euismod condimentum. Pellentesque pharetra erat id lorem vulputate sagittis. Morbi commodo dignissim dolor nec sollicitudin. Mauris bibendum rutrum tortor eget blandit. Nam semper lacus et arcu tincidunt interdum. Ut eget bibendum libero. </p>
  </div>
  <div id="tabs-2">
  <p> Mauris aliquam, sem non fermentum porttitor, sapien odio varius nisi, non tempus tortor justo id leo. Suspendisse mollis pharetra volutpat. Suspendisse ornare, enim eu hendrerit condimentum, elit neque vulputate metus, eu commodo urna libero et lectus. Curabitur massa augue, suscipit eu ullamcorper ac, condimentum quis arcu. Vestibulum eu porttitor enim. Duis non elit nisl, vel fringilla magna. Phasellus auctor augue non enim posuere convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas feugiat, enim rutrum tristique venenatis, justo libero congue magna, vel rhoncus elit augue quis urna. Curabitur volutpat eros id lorem eleifend non sollicitudin tortor aliquam.

Vivamus enim eros, porta imperdiet pulvinar eget, tincidunt vel mauris. Pellentesque quis eros sit amet ligula semper iaculis sit amet vel massa. Phasellus commodo, libero ac aliquet auctor, massa mi semper nisi, at auctor nisi dolor a felis. Phasellus sapien leo, ultrices vel luctus ut, cursus accumsan ipsum. Fusce non nulla odio. Donec malesuada luctus odio sit amet porttitor. Suspendisse faucibus quam at lectus fringilla ut congue magna vulputate. Vivamus vel nibh ligula. Vivamus non orci est, sed congue tortor. Quisque gravida mauris ut nibh viverra ac rutrum ipsum tempus. Phasellus sit amet magna ante, eu vulputate massa. Morbi suscipit posuere sem, ac ultricies eros dictum nec. Cras sit amet mi mi. Pellentesque non est sed erat tempor semper. Quisque mauris urna, congue cursus suscipit et, semper vel nunc. </p>
  </div>
  <div id="tabs-3">
  <p>Nunc felis urna, lobortis id ornare sed, sodales vitae justo. Aenean at ipsum diam. Aliquam erat volutpat. Nunc mollis nisl eget ipsum hendrerit eget lobortis risus tincidunt. Fusce sollicitudin dapibus volutpat. Vestibulum suscipit urna leo. In mattis euismod enim eget laoreet. Nullam nulla tellus, ultrices ac condimentum et, molestie ut diam. Nulla enim ligula, mattis ultricies mollis at, lobortis sit amet nibh. Donec tempus sem sit amet nulla lacinia elementum. Mauris id orci dui. Curabitur placerat lobortis ligula eu adipiscing. Mauris felis odio, cursus ac porttitor eget, pretium sit amet orci. Cras non felis et felis placerat ullamcorper non ut mauris. Nunc ullamcorper lacinia lorem quis semper. </p>
  </div>
</div>
