<style type="text/css">
	.breakheading > h4, .breakheading > h5
	{
		margin-top: 20px;
	}

	h3
	{
		margin-top: -10px;
		margin-bottom: 1px;
	}

	.breakheading > h3
	{
		font-size: 27px;
		line-height: 30px;
		margin-bottom: 30px;
	}

	h5
	{
		margin-top: 25px;
	}

	.justi
	{
		text-align: justify;
		margin: 0px;
		/*font-size: 13px;*/
		/*line-height: 16px;*/
	}

	a.a-ti, a.a-ti:hover, a.a-ti:active
	{
		color: #333333;
		text-decoration: none;
	}
</style>
    
<div class="fs-layout-cell fs-content clearfix" style="width: 100%; position:relative;">
  <article class="fs-post fs-article">
    <div class="fs-postcontent fs-postcontent-0 clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-0" style="width: 99%">
		
		<h3>COOKIES POLICY</h3>
        <div class="span8 breakheading boxpad">
            <h5>COSA SONO I COOKIES</h5>

            <p class="justi">I cookie sono piccoli files di testo che vengono inviati sul tuo dispositivo elettronico (PC, tablet, ecc..) durante la navigazione in un sito web. I cookie vengono poi rinviati al sito web di origine nel corso di ogni successiva navigazione, oppure vengono inviati ad un diverso sito web che sia in grado di riconoscere quello specifico cookie. I cookie agiscono come una memoria per un sito web, consentendo che il sito web riconosca il tuo device ad ogni tua visita successiva a quel medesimo sito.</p>
            <p class="justi">I cookie consentono inoltre di memorizzare le tue preferenze di navigazione offrendoti un’esperienza più funzionale del sito, e rendendo il contenuto del sito il più personalizzato possibile.</p>
            <p class="justi">Potrai trovare maggiori informazioni sui cookie, incluso come è possibile capire che cosa i cookie abbiano impostato sul tuo device, e come è possibile gestirli ed eliminarli, accedendo al seguente link <a href="http://www.aboutcookies.org/" target="_blank"> www.aboutcookies.org</a>.</p>





            <h5>TIPOLOGIE DI COOKIES UTILIZZATI</h5>
            <ul style="list-style-type: square;">
                <li class="justi">Cookie tecnici
            <p class="justi">I cookie tecnici sono i cookie che servono a effettuare la navigazione o a fornire un servizio richiesto dall’utente. Non vengono utilizzati per scopi ulteriori . Senza il ricorso a tali cookie, alcune operazioni non potrebbero essere compiute o sarebbero più complesse e/o meno sicure, dunque i cookie, che consentono di effettuare e mantenere l’identificazione dell’utente nell’ambito della sessione, risultano indispensabili. Il cookies rimane attivo durante la sessione di navigazione.</p>
                    <p class="justi">E’ possibile disabilitare l’uso dei cookies attraverso le impostazioni del Browser o navigare in forma anonima. In tal caso, vi sarà come conseguenza, il blocco di funzioni quali l’autenticazione, la validazione e la gestione di una sessione di navigazione. </p>
                </li>
                <li class="justi">Cookie Analytics
            <p class="justi">I cookie Analytics raccolgono e analizzano in forma anonima e/o aggregata le informazioni sull’uso del sito da parte dei visitatori (pagine visitate, …) per fornire all’utente una migliore esperienza di navigazione. Questi cookies non raccolgono informazioni che possono identificare in qualche modo l’utente. </p>
                    <p class="justi">Rientrano in questa categoria i cookies utilizzati da Google Analytics.</p>
                    <p class="justi">I dati di navigazione non sono tracciati e non sono considerati ai fini statistici. I report statistici consentono di realizzare analisi volte a migliorare la fruibilità del sito a livello funzionale e contenutistico. </p>
                    <p class="justi">vuoi disabilitare l’uso dei cookies di Google <a href="https://tools.google.com/dlpage/gaoptout?hl=it-IT" target="_blank"> clicca qui</a>.</p>
                    <p class="justi">Per quanta riguarda la durata dei dati tracciati dai cookies di Google Analytics, <a href="http://www.google.es/intl/it_it/policies/technologies/types/" target="_blank"> clicca qui</a>.</p>
                </li>
                <li class="justi">Cookies di funzionalità
            <p class="justi">I cookies di funzionalità permettono al sito di “ricordare” le scelte effettuate dall’utente e personalizzare il sito migliorandone i contenuti. Le informazioni raccolte da questo tipo di cookies sono in forma anonima. </p>
                    <p class="justi">Rientrano in questa categoria, ad esempio, i cookies impostati per l’accesso all’area riservata, impostazioni relative alla lingua e i cookies impostati dalla piattaforma Wordpress. </p>
                    <p class="justi">Il cookies rimane attivo durante la sessione di navigazione e permane fino al nuovo accesso sovrascrivendo i dati precedentemente registrati. </p>
                    <p class="justi">E’ possibile disabilitare l’uso dei cookies attraverso le impostazioni del Browser o navigare in forma anonima. In tal caso, vi sarà come conseguenza, un blocco di funzionalità di testing e una visualizzazione del sito non ottimizzata.</p>
                </li>
                <li class="justi">Cookies di Terze parti
            <p class="justi">Il sito di Fiscosport collabora con Terze parti accuratamente selezionate.</p>
                    <p class="justi">Le Terze parti sono direttamente responsabili, in qualità di Titolari del trattamento, dei cookies da loro installati per il tramite del sito di Fiscosport, così come dei trattamenti che ne fanno.</p>
                    <p class="justi">In particolare, per la parte di reportistica relativa ai dati di navigazione, ci affidiamo a Google Analytics di proprietà di Google Ireland.</p>
                    <p class="justi">Per visionare la privacy policy di Google <a href="http://www.google.com/intl/en/policies/privacy/" target="_blank"> clicca qui</a></p>
                    <p class="justi">Per avere maggiori informazioni circa la privacy online e la pubblicità comportamentale vai al link <a href="http://www.youronlinechoices.com/it/le-tue-scelte" target="_blank"> www.youronlinechoices.com/it/le-tue-scelte</a></p>
                </li>
            </ul>




            <h5>Sul nostro portale è altresì presente: </h5>
            <ul style="list-style-type: none;">

                <li class="justi">Interazione con social network e piattaforme esterne:
					<p class="justi">Questi servizi permettono di effettuare interazioni con i social network, o con altre piattaforme esterne, direttamente dalle pagine di questo spazio online.</p>
                    <p class="justi">Le interazioni e le informazioni acquisite da questo spazio online sono in ogni caso soggette alle impostazioni privacy dell’Utente relative ad ogni social network.</p>
                    <p class="justi">Nel caso in cui sia installato un servizio di interazione con i social network, è possibile che, anche nel caso gli Utenti non utilizzino il servizio, lo stesso raccolga dati di traffico relativi alle pagine in cui è installato.</p>
                </li>

                <li class="justi">Pulsante Mi Piace e widget sociali di Facebook (Facebook, Inc.)
					<p class="justi">Il pulsante “Mi Piace” e i widget sociali di Facebook sono servizi di interazione con il social network Facebook, forniti da Facebook, Inc.</p>
                    <p class="justi">Dati personali raccolti: Cookie e Dati di utilizzo. </p>
                    <p class="justi">Luogo del trattamento : USA – <a href="http://www.facebook.com/privacy/explanation.php" target="_blank"> Privacy Policy</a> </p>
                </li>

                <li class="justi">Pulsante Tweet e widget sociali di Twitter (Twitter, Inc.)
					<p class="justi">Il pulsante Tweet e i widget sociali di Twitter sono servizi di interazione con il social network Twitter, forniti da Twitter, Inc.</p>
                    <p class="justi">Dati personali raccolti: Cookie e Dati di utilizzo. </p>
                    <p class="justi">Luogo del trattamento : USA – <a href="http://twitter.com/privacy" target="_blank"> Privacy Policy</a> </p>
                </li>
			
				<li class="justi">Pulsante Google+ e widget sociali di Google (Google Inc.)
					<p class="justi">Il pulsante Google+ e i widget sociali di Google sono servizi di interazione con il social network Google, forniti da Google, Inc.</p>
                    <p class="justi">Dati personali raccolti: Cookie e Dati di utilizzo. </p>
                    <p class="justi">Luogo del trattamento : USA – <a href="http://www.google.com/intl/it/policies/privacy/" target="_blank"> Privacy Policy</a> </p>
                </li>

			</ul>
            <h5>Come disabilitare i cookies tramite il tuo browser</h5>


            <p class="justi">Il sito web di Fiscosport funziona in modo ottimale se i cookies sono abilitati.</p>
            <p class="justi">Puoi comunque decidere di non consentire l'impostazione dei cookies sul tuo computer; per farlo accedi alle "Preferenze" del tuo browser.</p>
            <p class="justi">Per informazioni su come modificare le impostazioni dei cookies seleziona qui sotto il browser che stai utilizzando:</p>
            <ul style="list-style-type: circle;">
                <li class="justi"><a href="https://support.google.com/chrome/answer/95647?hl=it&topic=14666&ctx=topic" target="_blank"> Chrome</a></li>
                <li class="justi"><a href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie" target="_blank"> Firefox</a></li>
                <li class="justi"><a href="http://windows.microsoft.com/it-it/windows-vista/block-or-allow-cookies" target="_blank"> Internet Explorer</a></li>
                <li class="justi"><a href="http://www.opera.com/help/tutorials/security/privacy/" target="_blank"> Opera</a></li>
                <li class="justi"><a href="https://www.apple.com/legal/privacy/it/cookies/" target="_blank"> Safari</a></li>
            </ul>
            <p class="justi">Anche con tutti i cookies disabilitati, il tuo browser continuerà a memorizzare una piccola quantità di informazioni, necessarie per le funzionalità di base del sito.</p>

            <p class="justi">Tutti i contenuti del sito <a href="http://www.fiscosport.it/" class="a-ti" target="_blank">www.fiscosport.it</a> quali, a titolo esemplificativo, notizie, foto, video, suoni, marchi, loghi, nomi a dominio, software applicativi, layout grafici, banche dati, immagini statiche e in movimento, i disegni, le guide, le newsletter, nonché tutti i diritti ad essi correlati sono riservati, in quanto ricadono sotto la proprietà intellettuale esclusiva di Fiscosport S.r.l.</p>

        </div>



          </div>
        </div>
      </div>
    </div>
    <br/>
  </article>
  <br/>
  <div class="clearfix"></div>
</div>
<%= render :partial => 'blocco_sidebar1' %>


