<div class="fs-layout-cell fs-content clearfix" style="width: 100%; position:relative;">
  <article class="fs-post fs-article">
    <div class="fs-postcontent fs-postcontent-0 clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-0" style="width: 99%">
            <div id="fs-pag-abbonamenti-header">
              <% if User.current.logged?  %>
                <%#	else  %>
              <div> Entra nel mondo Fiscosport!   <%= link_to "Registrati", url_for(:controller => "account",:action => 'register'), :class => "fs-blu-button"%>
              </div>
              <div>Se sei già abbonato fai il login qui sopra / </div>
                 <%	end  %>
            </div>
            <%= raw(Setting.static_page_abbonamenti.html_safe) %>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </article>
  <br/>
  <div class="clearfix"></div>
</div>
<%= render :partial => 'blocco_sidebar1' %>
