static_page_lavoraconnoi<div class="fs-layout-cell fs-content clearfix" style="width: 100%; position:relative;">
  <article class="fs-post fs-article">
    <div class="fs-postcontent fs-postcontent-0 clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-0" style="width: 99%">
            <%= raw(Setting.static_page_progettofs.html_safe) %>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </article>
  <br/>
  <div class="clearfix"></div>
</div>
<%= render :partial => 'blocco_sidebar1' %>


