<h2><%=l(:poniquesito)%></h2>
  In questa pagina:
  <ul> 
    <li>Un utente definisce un titolo</li>
    <li>Un utente immette un testo</li>
    <li>AZIONE: SALVA ed allega all'editoriale in corso di elaborazione</li>
  </ul> 
