<div style="width: 100%">
  <div class="fs-layout-cell post-layout-item-2" style="max-width: 640px; border-right: solid 10px transparent;">
    <div class="fs-content-layout-row">
      <div class="fs-layout-cell post-layout-item-3" style="width: 50%">
        <article class="fs-post fs-article clearfix">

              </article>

        <br />&nbsp; <br />
        <article class="fs-post fs-article clearfix">
          <%= link_to("1a versione statica", chisiamo_path ,:class=> "fs-giallo-button"  )%>
        </article>

         </div>
      <div class="fs-layout-cell post-layout-item-3 clearfix" style="width: 50%">

      </div>
    </div>
  </div>

<%# render :partial => 'blocco_sidebar1' %>

  <%= render :partial => 'blocco_sidebar1' %>
</div>

<%#
  belongs_to :cross_organization, :class_name => 'CrossOrganization', :foreign_key => 'cross_organization_id'
  #TODO: verificare ci potrebbe essere che alcuni associazione Sigla - Tipo non appare nella tabella CrossOrganization
  # prova per i banner (sandro)
  ##su cross_group.rb è :
  #  belongs_to :user
  #  belongs_to :group_banner
  has_many :cross_groups
  has_many :group_banners, :through => :cross_groups

  #l'utente può essere il referente di una (o più) organizzazione
  #2.7 Choosing Between belongs_to and has_one. La foreign key si trova sulla tabella che fa belongs_to
  #Puo anche essere il power_user di un organization
  #has_one :reference, :class_name => 'Organization', :dependent => :nullify
  has_many :references, :class_name => 'Organization', :dependent => :nullify



  has_many :invoices, :class_name => 'Invoice', :dependent => :destroy
%>
