<div style="width: 100%">
  <div class="fs-layout-cell post-layout-item-2" style="max-width: 640px; border-right: solid 10px transparent;">
    <div class="fs-content-layout-row">
      <div class="fs-layout-cell post-layout-item-3" style="width: 50%">
        <article class="fs-post fs-article clearfix">

              </article>

        <br />&nbsp; <br />
        <article class="fs-post fs-article clearfix">
          <%= link_to("1a versione statica", chisiamo_path ,:class=> "fs-giallo-button"  )%>
        </article>

         </div>
      <div class="fs-layout-cell post-layout-item-3 clearfix" style="width: 50%">

      </div>
    </div>
  </div>

<%# render :partial => 'blocco_sidebar1' %>

  <%= render :partial => 'blocco_sidebar1' %>
</div>
