<h1>Grazie per averci scelto! </h1>
<h2>A breve riceverai i dati per l'accesso al periodo di prova di 30 giorni all'indirizzo email da te indicato </h2>
<h3>Non lasciare scadere i periodo di prova ... fai al più presto l'abbonamento! </h3>
<h2>Abbonati completando la tua registrazione , è facile basta fare click sul pulsante ABBONAMENTI e seguire la procedura! </h2>
