<h2><%=l(:details_quesito)%></h2>
  In questa pagina:
  <ul> 
    <li>Presentazione di un quesito</li>
    <li>Vissualizzazione della risposta se STATO CHIUSO</li>
    <li>PERMESSI sulla vissualizzazione dei contenuti</li>
    <li>LINK: ritorno a la lista quesiti</li>
    <li>LINK: all'edizione dove è paruto</li>
    <li>NETWORK: Mi piace? --> futuro</li>
    <li>NETWORK: Commenta? --> futuro</li>
  </ul> 
