<h2><%=l(:list_quesiti)%></h2>
  In questa pagina:
  <ul> 
    <li>lista dei quesiti</li>
    <li>Presentazione Merce dolci</li>
    <li>LINK: all'edizione</li>
    <li>LINK: ritorna alla lis</li>
    <li>LINK: al singolo articolo</li>
  </ul> 
