<h2><%=l(:details_sezione)%></h2>
  In questa pagina:
  <ul> 
    <li>Summary e definizione della sezione</li>
    <li>Lista articoli correlati</li>
    <li>Filtraggio sul contenuto</li>
    <li>LINK: all'edizione</li>
    <li>LINK: al singolo articolo</li>
  </ul> 
<h1> id = <%= @id %> </h1>
