<h2><%=l(:list_top_sezioni)%></h2>
  In questa pagina:
  <ul> 
    <li>Summary e definizione del raggruppamento del top menu</li>
    <li>Lista delle top section associate</li>
    <li>Ciascuna top_section ha una lista di section</li>
    <li>Ciascun section ha una lista articoli</li>
  </ul> 
<h3> id = <%= @id %> </h3>
<div id="fs_informa" class="nodata"><p>
  <%= @sezione  %> :: <%= @sottosezione %>
</p></div>
<br />

