/* Created by ... */
/* menu per l'itente in cima */
#top-menu-fe {display:block;  color: #FAFFBD; height:1.8em; font-size: 0.8em; padding: 2px 2px 0 6px;}
#top-menu-fe ul  {margin: 0;  padding: 0; }
#top-menu-fe li  {
  float:right;
  list-style-type:none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  white-space:nowrap;
}
#top-menu-fe a {color: #fff; margin-right: 8px; font-weight: bold; display:block;}
#top-menu-fe #loggedas { float: right; margin-right: 0.5em; color: #fff; }

#account {float:right;}
/* fine menu dell'utente */

#fs-main {
    background: #000000;
    background: linear-gradient(top, #000000 0, #262626 250px) no-repeat;
    background: -webkit-linear-gradient(top, #000000 0, #262626 250px) no-repeat;
    background: -moz-linear-gradient(top, #000000 0, #262626 250px) no-repeat;
    background: -o-linear-gradient(top, #000000 0, #262626 250px) no-repeat;
    background: -ms-linear-gradient(top, #000000 0, #262626 250px) no-repeat;
    background: linear-gradient(top, #000000 0, #262626 250px) no-repeat;
    -svg-background: linear-gradient(top, #000000 0, #262626 250px) no-repeat;
    margin: 0 auto;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;
}

table, ul.fs-hmenu {
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li {
    margin: 0;
    padding: 0;
}
.fs-content .fs-postcontent-1 .layout-item-0 {
    padding-right: 5px;
    padding-left: 5px;
}
.fs-content .fs-postcontent-0 .layout-item-0 {
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #BBBFC8;
    border-right-color: #BBBFC8;
    border-bottom-color: #BBBFC8;
    border-left-color: #BBBFC8;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;

}

.fs-content .fs-postcontent-0 .layout-item-1 {
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: #BBBFC8;
    border-right-color: #BBBFC8;
    border-bottom-color: #BBBFC8;
    border-left-color: #BBBFC8;
    border-top: none !important;
    padding-right: 5px;
    padding-left: 5px;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.fs-button {
    border: 0;
    border-collapse: separate;
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
    background: #B58304;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 21px;
    margin: 0 auto;
    height: 24px;
}
.fs-sections {
    border: 0;
    border-collapse: separate;
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
    background: #B58304;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 15px;
    margin: 0 auto;
    height: 24px;
}

.fs-postcontent,
.fs-postheadericons,
.fs-postfootericons,
.fs-blockcontent,
ul.fs-vmenu a {
    text-align: left;
}

.fs-postcontent,
.fs-postcontent li,
.fs-postcontent table,
.fs-postcontent a,
.fs-postcontent a:link,
.fs-postcontent a:visited,
.fs-postcontent a.visited,
.fs-postcontent a:hover,
.fs-postcontent a.hovered {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    line-height: 175%;
}

.fs-postcontent p {
    margin: 13px 0;
}

.fs-postcontent h1, .fs-postcontent h1 a, .fs-postcontent h1 a:link, .fs-postcontent h1 a:visited, .fs-postcontent h1 a:hover,
.fs-postcontent h2, .fs-postcontent h2 a, .fs-postcontent h2 a:link, .fs-postcontent h2 a:visited, .fs-postcontent h2 a:hover,
.fs-postcontent h3, .fs-postcontent h3 a, .fs-postcontent h3 a:link, .fs-postcontent h3 a:visited, .fs-postcontent h3 a:hover,
.fs-postcontent h4, .fs-postcontent h4 a, .fs-postcontent h4 a:link, .fs-postcontent h4 a:visited, .fs-postcontent h4 a:hover,
.fs-postcontent h5, .fs-postcontent h5 a, .fs-postcontent h5 a:link, .fs-postcontent h5 a:visited, .fs-postcontent h5 a:hover,
.fs-postcontent h6, .fs-postcontent h6 a, .fs-postcontent h6 a:link, .fs-postcontent h6 a:visited, .fs-postcontent h6 a:hover,
.fs-blockheader .t, .fs-blockheader .t a, .fs-blockheader .t a:link, .fs-blockheader .t a:visited, .fs-blockheader .t a:hover,
.fs-vmenublockheader .t, .fs-vmenublockheader .t a, .fs-vmenublockheader .t a:link, .fs-vmenublockheader .t a:visited, .fs-vmenublockheader .t a:hover,
.fs-headline, .fs-headline a, .fs-headline a:link, .fs-headline a:visited, .fs-headline a:hover,
.fs-slogan, .fs-slogan a, .fs-slogan a:link, .fs-slogan a:visited, .fs-slogan a:hover,
.fs-postheader, .fs-postheader a, .fs-postheader a:link, .fs-postheader a:visited, .fs-postheader a:hover {
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 120%;
}

.fs-postcontent a, .fs-postcontent a:link {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    color: #503712;
}

.fs-postcontent a:visited, .fs-postcontent a.visited {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    color: #5a5f6e;
}

.fs-postcontent  a:hover, .fs-postcontent a.hover {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: underline;
    color: #FABC1E;
}

.fs-postcontent h1 {
    color: #5DBE5B;
    margin: 10px 0 0;
    font-size: 26px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-blockcontent h1 {
    margin: 10px 0 0;
    font-size: 26px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h1 a, .fs-postcontent h1 a:link, .fs-postcontent h1 a:hover, .fs-postcontent h1 a:visited, .fs-blockcontent h1 a, .fs-blockcontent h1 a:link, .fs-blockcontent h1 a:hover, .fs-blockcontent h1 a:visited {
    font-size: 26px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h2 {
    color: #5DBE5B;
    margin: 10px 0 0;
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-blockcontent h2 {
    margin: 10px 0 0;
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h2 a, .fs-postcontent h2 a:link, .fs-postcontent h2 a:hover, .fs-postcontent h2 a:visited, .fs-blockcontent h2 a, .fs-blockcontent h2 a:link, .fs-blockcontent h2 a:hover, .fs-blockcontent h2 a:visited {
    font-size: 22px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h3 {
    color: #88CF87;
    margin: 10px 0 0;
    font-size: 20px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-blockcontent h3 {
    margin: 10px 0 0;
    font-size: 20px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h3 a, .fs-postcontent h3 a:link, .fs-postcontent h3 a:hover, .fs-postcontent h3 a:visited, .fs-blockcontent h3 a, .fs-blockcontent h3 a:link, .fs-blockcontent h3 a:hover, .fs-blockcontent h3 a:visited {
    font-size: 20px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h4 {
    color: #282B31;
    margin: 10px 0 0;
    font-size: 18px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-blockcontent h4 {
    margin: 10px 0 0;
    font-size: 18px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h4 a, .fs-postcontent h4 a:link, .fs-postcontent h4 a:hover, .fs-postcontent h4 a:visited, .fs-blockcontent h4 a, .fs-blockcontent h4 a:link, .fs-blockcontent h4 a:hover, .fs-blockcontent h4 a:visited {
    font-size: 18px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h5 {
    color: #282B31;
    margin: 10px 0 0;
    font-size: 15px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-blockcontent h5 {
    margin: 10px 0 0;
    font-size: 15px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h5 a, .fs-postcontent h5 a:link, .fs-postcontent h5 a:hover, .fs-postcontent h5 a:visited, .fs-blockcontent h5 a, .fs-blockcontent h5 a:link, .fs-blockcontent h5 a:hover, .fs-blockcontent h5 a:visited {
    font-size: 15px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h6 {
    color: #606775;
    margin: 10px 0 0;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-blockcontent h6 {
    margin: 10px 0 0;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-postcontent h6 a, .fs-postcontent h6 a:link, .fs-postcontent h6 a:hover, .fs-postcontent h6 a:visited, .fs-blockcontent h6 a, .fs-blockcontent h6 a:link, .fs-blockcontent h6 a:hover, .fs-blockcontent h6 a:visited {
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #fs-hmenu-bg, .fs-sheet, .fs-hmenu a, .fs-vmenu a, .fs-slidenavigator > a, .fs-checkbox:before, .fs-radiobutton:before {
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
}

header, footer, article, nav, #fs-hmenu-bg, .fs-sheet, .fs-slidenavigator > a, .fs-checkbox:before, .fs-radiobutton:before {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-width: 700px;
    color: #282B31;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.cleared {
    font: 0/0 serif;
    clear: both;
}

form {
    padding: 0 !important;
    margin: 0 !important;
}

table.position {
    position: relative;
    width: 100%;
    table-layout: fixed;
}

li h1, .fs-postcontent li h1, .fs-blockcontent li h1 {
    margin: 1px;
}

li h2, .fs-postcontent li h2, .fs-blockcontent li h2 {
    margin: 1px;
}

li h3, .fs-postcontent li h3, .fs-blockcontent li h3 {
    margin: 1px;
}

li h4, .fs-postcontent li h4, .fs-blockcontent li h4 {
    margin: 1px;
}

li h5, .fs-postcontent li h5, .fs-blockcontent li h5 {
    margin: 1px;
}

li h6, .fs-postcontent li h6, .fs-blockcontent li h6 {
    margin: 1px;
}

li p, .fs-postcontent li p, .fs-blockcontent li p {
    margin: 1px;
}

.fs-shapes {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.fs-slider-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.fs-slidenavigator > a {
    display: inline-block;
    vertical-align: middle;
    outline-style: none;
    font-size: 1px;
}

.fs-slidenavigator > a:last-child {
    margin-right: 0 !important;
}

.fs-logo {
    display: block;
    float:right;
   /* right: 100%;
    margin-left: -386px;
    position: absolute;
    top: 0;      */
    margin-top: -17px;;
    width: 386px;
    height: 97px;
    background-image: url('/images/fe-bk01/logo.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
}

.fs-headline {
    display: inline-block;
    position: absolute;
    min-width: 50px;
    top: 46px;
    left: 2.62%;
    line-height: 100%;
    margin-left: -5px !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 99;
}

.fs-headline,
.fs-headline a,
.fs-headline a:link,
.fs-headline a:visited,
.fs-headline a:hover {
    font-size: 12px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-shadow: 0.7px 0.7px 0px rgba(153, 153, 153, 0.8), 1.4px 1.4px 0px rgba(140, 140, 140, 0.8), 2.1px 2.1px 1px rgba(122, 122, 122, 0.5), 2.8px 2.8px 0px rgba(107, 107, 107, 0.5), 3.5px 3.5px 0px rgba(92, 92, 92, 0.48);
    padding: 0;
    margin: 0;
    color: #FAFFBD !important;
    white-space: nowrap;
}

.fs-cerca h1,
.fs-cerca h2,
.fs-cerca h3,
.fs-cerca h4,
.fs-cerca h5,
.fs-cerca h6,
.fs-cerca p,
.fs-cerca a,
.fs-cerca ul,
.fs-cerca ol,
.fs-cerca li {
    line-height: 125%;
}

.fs-cerca {
   /* position: absolute;
    top: 15px;
    left: 3.07%;*/
    margin-left: 17px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    overflow: hidden;
    background-image: url('/images/fe-bk01/cerca.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    z-index: 101;
    width: 200px;
    height: 24px;
}

.fs-header {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    margin: 10px auto 0;
    margin-top: 0px;
    /*height: 110px;*/
    height: 100px;
    background-image: url('/images/fe-bk01/header.png');
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    min-width: 700px;
    max-width: 1920px;
    width: 78%;
    z-index: auto !important;
}

.responsive .fs-header {
    background-image: url('/images/fe-bk01/header.png');
    background-position: center center;
}

.fs-header>.widget {
    position: absolute;
    z-index: 101;
}

.fs-header .fs-slider-inner {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fs-nav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 100;
    font-size: 0;
   /* position: relative;
    margin: 0;
    bottom: 15px; */
    margin-top: 75px;;
    width: 100%;
    text-align: left;

}
.fs-sheet-nav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    /*margin-top: -15px;   */
    position: relative;
    cursor: auto;
    width: 78%;
    min-width: 700px;
    max-width: 1920px;
    z-index: auto !important;
}
.fs-2nav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 100;
    font-size: 0;
  /*  position: absolute;
    margin: 0;
    bottom: -5px;
    margin-top: 90px;*/
    width: 100%;
    text-align: left;

}

ul.fs-hmenu a, ul.fs-hmenu a:link, ul.fs-hmenu a:visited, ul.fs-hmenu a:hover {
    outline: none;
    position: relative;
    z-index: 11;
}

ul.fs-hmenu, ul.fs-hmenu ul {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

ul.fs-hmenu li {
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

ul.fs-hmenu li:hover {
    z-index: 10000;
    white-space: normal;
}

ul.fs-hmenu:after, ul.fs-hmenu ul:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

ul.fs-hmenu, ul.fs-hmenu ul {
    min-height: 0;
}

ul.fs-hmenu {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fs-nav:before {
    content: ' ';
}

.fs-hmenu-extra1 {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    background-position: center;
}

.fs-hmenu-extra2 {
    position: relative;
    display: block;
    float: right;
    width: auto;
    height: auto;
    background-position: center;
}

.fs-hmenu {
    float: left;
}

.fs-menuitemcontainer {
    margin: 0 auto;
}

ul.fs-hmenu>li {
    margin-left: 1px;
}

ul.fs-hmenu>li:first-child {
    margin-left: 0;
}

ul.fs-hmenu>li:last-child, ul.fs-hmenu>li.last-child {
    margin-right: 0;
}

ul.fs-hmenu>li>a {
    padding: 0 12px;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 22px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 22px;
    text-align: center;
}

.fs-hmenu a,
.fs-hmenu a:link,
.fs-hmenu a:visited,
.fs-hmenu a.active,
.fs-hmenu a:hover {
    font-size: 12px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
}

ul.fs-hmenu>li>a.active {
    padding: 0 12px;
    margin: 0 auto;
    color: #FABC1E;
    text-decoration: none;
}

ul.fs-hmenu>li>a:visited,
ul.fs-hmenu>li>a:hover,
ul.fs-hmenu>li:hover>a {
    text-decoration: none;
}

ul.fs-hmenu>li>a:hover, .desktop ul.fs-hmenu>li:hover>a {
    background: #B58304;
    padding: 0 12px;
    margin: 0 auto;
}

ul.fs-hmenu>li>a:hover,
.desktop-nav ul.fs-hmenu>li:hover>a {
    color: #FFFFFF;
    text-decoration: none;
}

ul.fs-hmenu>li:before {
  /*  position: absolute;
    display: block;
    content: ' ';
    top: 0;
    left: -1px;
    width: 1px;
    height: 26px;
    background: url('/images/fe-bk01/menuseparator.png') center center no-repeat;
    */
}

ul.fs-hmenu>li:first-child:before {
    display: none;
}

ul.fs-hmenu li li a {
    background: #CCEACB;
    background: transparent;
    padding: 0 10px;
    margin: 0 auto;
}

ul.fs-hmenu li li {
    float: none;
    width: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}

.desktop-nav ul.fs-hmenu li li ul>li:first-child {
    margin-top: 0;
}

ul.fs-hmenu li li ul>li:last-child {
    margin-bottom: 0;
}

.fs-hmenu ul a {
    display: block;
    white-space: nowrap;
    height: 24px;
    min-width: 7em;
    border: 0 solid transparent;
    text-align: left;
    line-height: 24px;
    color: #3A3E47;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
}

.fs-hmenu ul a:link,
.fs-hmenu ul a:visited,
.fs-hmenu ul a.active,
.fs-hmenu ul a:hover {
    text-align: left;
    line-height: 24px;
    color: #3A3E47;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
}

ul.fs-hmenu li li:after {
    display: block;
    position: absolute;
    content: ' ';
    height: 0;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px dotted #E7E8EB;
}

.desktop-nav ul.fs-hmenu li li:first-child:before,
.desktop-nav ul.fs-hmenu li li:first-child:after {
    display: none;
}

ul.fs-hmenu ul li a:hover, .desktop ul.fs-hmenu ul li:hover>a {
    background: #B0DFAF;
    background: transparent;
    margin: 0 auto;
}

.fs-hmenu ul a:hover {
    text-decoration: none;
}

.fs-hmenu ul li a:hover {
    color: #DC9F04;
}

.desktop-nav .fs-hmenu ul li:hover>a {
    color: #DC9F04;
}

ul.fs-hmenu ul:before {
    background: #F3FAF3;
    border: 1px dotted rgba(157, 163, 174, 0.9);
    margin: 0 auto;
    display: block;
    position: absolute;
    content: ' ';
    z-index: 1;
}

.desktop-nav ul.fs-hmenu li:hover>ul {
    visibility: visible;
    top: 100%;
}

.desktop-nav ul.fs-hmenu li li:hover>ul {
    top: 0;
    left: 100%;
}

ul.fs-hmenu ul {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-image: url('/images/fe-bk01/spacer.gif');
}

.desktop-nav ul.fs-hmenu>li>ul {
    padding: 16px 36px 36px 36px;
    margin: -10px 0 0 -30px;
}

.desktop-nav ul.fs-hmenu ul ul {
    padding: 36px 36px 36px 16px;
    margin: -36px 0 0 -5px;
}

.desktop-nav ul.fs-hmenu ul.fs-hmenu-left-to-right {
    right: auto;
    left: 0;
    margin: -10px 0 0 -30px;
}

.desktop-nav ul.fs-hmenu ul.fs-hmenu-right-to-left {
    left: auto;
    right: 0;
    margin: -10px -30px 0 0;
}

.desktop-nav ul.fs-hmenu li li:hover>ul.fs-hmenu-left-to-right {
    right: auto;
    left: 100%;
}

.desktop-nav ul.fs-hmenu li li:hover>ul.fs-hmenu-right-to-left {
    left: auto;
    right: 100%;
}

.desktop-nav ul.fs-hmenu ul ul.fs-hmenu-left-to-right {
    right: auto;
    left: 0;
    padding: 36px 36px 36px 16px;
    margin: -36px 0 0 -5px;
}

.desktop-nav ul.fs-hmenu ul ul.fs-hmenu-right-to-left {
    left: auto;
    right: 0;
    padding: 36px 16px 36px 36px;
    margin: -36px -5px 0 0;
}

.desktop-nav ul.fs-hmenu li ul>li:first-child {
    margin-top: 0;
}

.desktop-nav ul.fs-hmenu li ul>li:last-child {
    margin-bottom: 0;
}

.desktop-nav ul.fs-hmenu ul ul:before {
    border-radius: 0;
    top: 30px;
    bottom: 30px;
    right: 30px;
    left: 10px;
}

.desktop-nav ul.fs-hmenu>li>ul:before {
    top: 10px;
    right: 30px;
    bottom: 30px;
    left: 30px;
}

.desktop-nav ul.fs-hmenu>li>ul.fs-hmenu-left-to-right:before {
    right: 30px;
    left: 30px;
}

.desktop-nav ul.fs-hmenu>li>ul.fs-hmenu-right-to-left:before {
    right: 30px;
    left: 30px;
}

.desktop-nav ul.fs-hmenu ul ul.fs-hmenu-left-to-right:before {
    right: 30px;
    left: 10px;
}

.desktop-nav ul.fs-hmenu ul ul.fs-hmenu-right-to-left:before {
    right: 10px;
    left: 30px;
}

.desktop-nav ul.fs-hmenu>li.ext>a {
    white-space: nowrap;
}

.desktop-nav ul.fs-hmenu>li.ext>a:hover,
.desktop-nav ul.fs-hmenu>li.ext:hover>a,
.desktop-nav ul.fs-hmenu>li.ext:hover>a.active {
    background: none;
    /* default padding + border size */
    padding: 0 12px 0 12px;
    /* margin for shadow */
    margin: -0 -0 0 -0;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #606775;
}

.desktop-nav ul.fs-hmenu>li.ext>a:hover:before,
.desktop-nav ul.fs-hmenu>li.ext:hover>a:before,
.desktop-nav ul.fs-hmenu>li.ext:hover>a.active:before {
    position: absolute;
    content: ' ';
    /* top, right, left - for shadow */
    top: 0;
    right: 0;
    left: 0;
    /* border + shadow */
    bottom: -1px;
    background-color: #F3FAF3;
    border: 1px dotted rgba(157, 163, 174, 0.9);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.desktop-nav ul.fs-hmenu>li.ext:hover>ul {
    padding-top: 5px;
    /* menu bar padding */
    margin-top: 0;
}

.desktop-nav ul.fs-hmenu>li.ext:hover>ul:before {
    /* border + shadow */
    top: -1px;
    clip: rect(6px, auto, auto, auto);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.fs-hmenu>li.ext>.ext-r,
ul.fs-hmenu>li.ext>.ext-l,
ul.fs-hmenu>li.ext>.ext-m,
ul.fs-hmenu>li.ext>.ext-off {
    display: none;
    z-index: 12;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.desktop-nav ul.fs-hmenu>li.ext>ul {
    z-index: 13;
}

.desktop-nav ul.fs-hmenu>li.ext.ext-r:hover>.ext-r,
.desktop-nav ul.fs-hmenu>li.ext.ext-l:hover>.ext-l {
    position: absolute;
    display: block;
    overflow: hidden;
    /* size of radius 
    * if size if 0 we should now generate script 
    * that adds ext-r and ext-m divs
    */
    height: 6px;
    top: 100%;
    padding-top: 1px;
    margin-top: -1px;
    /* border width + shadow */
}

.desktop-nav ul.fs-hmenu>li.ext:hover>.ext-r:before,
.desktop-nav ul.fs-hmenu>li.ext:hover>.ext-l:before {
    position: absolute;
    content: ' ';
    top: 0;
    /* border + shadow */
    bottom: -1px;
    background-color: #F3FAF3;
    border: 1px dotted rgba(157, 163, 174, 0.9);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.fs-hmenu>li.ext.ext-r:hover>.ext-r {
    left: 100%;
    right: auto;
    padding-left: 0;
    margin-left: 0;
    padding-right: 1px;
    margin-right: -1px;
    /* only shadow */
}

.desktop-nav ul.fs-hmenu>li.ext.ext-r:hover>.ext-r:before {
    right: 0;
    left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.desktop-nav ul.fs-hmenu>li.ext.ext-l:hover>.ext-l {
    right: 100%;
    left: auto;
    padding-right: 0;
    margin-right: 0;
    padding-left: 1px;
    margin-left: -1px;
    /* only shadow */
}

.desktop-nav ul.fs-hmenu>li.ext.ext-l:hover>.ext-l:before {
    right: -1px;
    left: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.desktop-nav ul.fs-hmenu>li.ext:hover>.ext-m,
.desktop-nav ul.fs-hmenu>li.ext:hover>.ext-off {
    position: absolute;
    display: block;
    overflow: hidden;
    height: 5px;
    top: 100%;
}

.desktop-nav ul.fs-hmenu>li.ext.ext-r:hover>.ext-m {
    /* shadow offset */
    left: -0;
    right: 0;
    /* shadow offset */
    padding-right: 0;
    padding-left: 0;
}

.desktop-nav ul.fs-hmenu>li.ext:hover>.ext-off {
    /* shadow offset */
    left: -0;
    right: -0;
    /* shadow offset */
    padding-left: 0;
    padding-right: 0;
}

.desktop-nav ul.fs-hmenu>li.ext.ext-l:hover>.ext-m {
    /* shadow offset */
    right: -0;
    left: 0;
    /* shadow offset */
    padding-left: 0;
    padding-right: 0;
}

.desktop-nav ul.fs-hmenu>li.ext.ext-l.ext-r:hover>.ext-m {
    /* shadow offset */
    right: -0;
    left: -0;
    /* shadow offset */
    padding-left: 0;
    padding-right: 0;
}

.desktop-nav ul.fs-hmenu>li.ext:hover>.ext-m:before,
.desktop-nav ul.fs-hmenu>li.ext:hover>.ext-off:before {
    position: absolute;
    content: ' ';
    top: -1px;
    bottom: -1px;
    /* shadow offset */
    background-color: #F3FAF3;
    border: 1px dotted rgba(157, 163, 174, 0.9);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.fs-hmenu>li.ext.ext-r:hover>.ext-m:before {
    right: -1px;
    left: 0;
}

.desktop-nav ul.fs-hmenu>li.ext.ext-l:hover>.ext-m:before {
    left: -1px;
    right: 0;
}

.desktop-nav ul.fs-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before {
    left: -1px;
    right: -1px;
}

.fs-sheet {
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px auto 0;
    position: relative;
    cursor: auto;
    width: 78%;
    min-width: 700px;
    max-width: 1920px;
    z-index: auto !important;
}

.fs-layout-wrapper {
    position: relative;
    margin: 0 auto 0 auto;
    z-index: auto !important;
}

.fs-content-layout {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fs-content-layout-row {
    display: table-row;
}

.fs-layout-cell {
    display: table-cell;
    vertical-align: top;
}

.fs-breadcrumbs {
    margin: 0 auto;
}

a.fs-button,
a.fs-button:link,
a:link.fs-button:link,
body a.fs-button:link,
a.fs-button:visited,
body a.fs-button:visited,
input.fs-button,
button.fs-button {
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #F9F9FA;
    margin: 0 !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    line-height: 24px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fs-button img {
    margin: 0;
    vertical-align: middle;
}

.firefox2 .fs-button {
    display: block;
    float: left;
}

input, select, textarea {
    vertical-align: middle;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

.fs-block select {
    width: 96%;
}

input.fs-button {
    float: none !important;
}

.fs-button.active, .fs-button.active:hover {
    background: #7E8695;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 21px;
    margin: 0 auto;
}

.fs-button.active, .fs-button.active:hover {
    color: #3C2C01 !important;
}

.fs-button.hover, .fs-button:hover {
    background: #9DA3AE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 21px;
    margin: 0 auto;
}

.fs-button.hover, .fs-button:hover {
    color: #122C12 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    background: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #E7E8EB;
    margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    width: 100%;
    padding: 4px 0;
    color: #282B31 !important;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

input.fs-error, textarea.fs-error {
    background: #FFFFFF;
    border: 1px solid #E54934;
    margin: 0 auto;
}

input.fs-error, textarea.fs-error {
    color: #282B31 !important;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

form.fs-search input[type="text"] {
    background: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #E7E8EB;
    margin: 0 auto;
    width: 100%;
    padding: 3px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #282B31 !important;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

form.fs-search {
    background-image: none;
    border: 0;
    display: block;
    position: relative;
    top: 0;
    padding: 0;
    margin: 5px;
    left: 0;
    line-height: 0;
}

form.fs-search input {
    top: 0;
    right: 0;
}

form.fs-search>input {
    bottom: 0;
    left: 0;
    vertical-align: middle;
}

form.fs-search input[type="submit"] {
    margin: 0 auto;
    color: #F9F9FA !important;
    position: absolute;
    display: block;
    left: auto;
    border: none;
    background: url('/images/fe-bk01/searchicon.png') center center no-repeat;
    width: 24px;
    height: 100%;
    padding: 0;
}

label.fs-checkbox:before {
    background: #FFFFFF;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0 auto;
    width: 16px;
    height: 16px;
}

label.fs-checkbox {
    cursor: pointer;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 16px;
    display: inline-block;
}

.fs-checkbox>input[type="checkbox"] {
    margin: 0 5px 0 0;
}

label.fs-checkbox.active:before {
    background: #D19704;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    display: inline-block;
}

label.fs-checkbox.hovered:before {
    background: #D19704;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    display: inline-block;
}

label.fs-radiobutton:before {
    background: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    width: 12px;
    height: 12px;
}

label.fs-radiobutton {
    cursor: pointer;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    line-height: 12px;
    display: inline-block;
}

.fs-radiobutton>input[type="radio"] {
    vertical-align: baseline;
    margin: 0 5px 0 0;
}

label.fs-radiobutton.active:before {
    background: #D19704;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    display: inline-block;
}

label.fs-radiobutton.hovered:before {
    background: #D19704;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    display: inline-block;
}

.fs-block {
    margin: 3px;
}

div.fs-block img {
    border: none;
    margin: 0;
}

.fs-blockheader {
    padding: 6px 5px;
    margin: 0 auto 2px;
}

.fs-blockheader .t,
.fs-blockheader .t a,
.fs-blockheader .t a:link,
.fs-blockheader .t a:visited,
.fs-blockheader .t a:hover {
    color: #3F444D;
    font-size: 20px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    margin: 0 5px;
}

.fs-blockcontent {
    padding: 5px;
    margin: 0 auto;
    color: #282B31;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    line-height: 175%;
}

.fs-blockcontent table,
.fs-blockcontent li,
.fs-blockcontent a,
.fs-blockcontent a:link,
.fs-blockcontent a:visited,
.fs-blockcontent a:hover {
    color: #282B31;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    line-height: 175%;
}

.fs-blockcontent p {
    margin: 0 5px;
}

.fs-blockcontent a, .fs-blockcontent a:link {
    color: #424650;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-blockcontent a:visited, .fs-blockcontent a.visited {
    color: #818898;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
}

.fs-blockcontent a:hover, .fs-blockcontent a.hover {
    color: #8F6703;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
}

.fs-block ul>li:before {
    content: url('/images/fe-bk01/blockbullets.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    margin-left: -12px;
}

.opera .fs-block ul>li:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-block li {
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    line-height: 175%;
    color: #535966;
    margin: 5px 0 0 10px;
}

.fs-block ul>li, .fs-block ol {
    padding: 0;
}

.fs-block ul>li {
    padding-left: 12px;
}

.fs-post {
    padding: 5px;
    margin: 3px;
}

a img {
    border: 0;
}

.fs-article img, img.fs-article, .fs-block img, .fs-footer img {
    margin: 5px 5px 5px 5px;
}

.fs-metadata-icons img {
    border: none;
    vertical-align: middle;
    margin: 2px;
}

.fs-article table, table.fs-article {
    border-collapse: collapse;
    margin: 1px;
}

.fs-post .fs-content-layout-br {
    height: 0;
}

.fs-article th, .fs-article td {
    padding: 2px;
    border: dotted 1px #78C977;
    vertical-align: top;
    text-align: left;
}

.fs-article th {
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

pre {
    overflow: auto;
    padding: 0.1em;
}

.preview-cms-logo {
    border: 0;
    margin: 1em 1em 0 0;
    float: left;
}

.image-caption-wrapper {
    padding: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper img {
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper div.fs-collage {
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image-caption-wrapper p {
    font-size: 80%;
    text-align: right;
    margin: 0;
}

.fs-postmetadataheader {
    border: 1px solid #CCEACB;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 1px;
    margin-bottom: 5px;
}

.fs-postheadericon:before {
    content: url('/images/fe-bk01/postheadericon.png');
    margin-right: 6px;
    bottom: 3px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .fs-postheadericon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-postheader {
    color: #296428;
    margin: 5px 10px;
    font-size: 24px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

.fs-postheader a,
.fs-postheader a:link,
.fs-postheader a:visited,
.fs-postheader a.visited,
.fs-postheader a:hover,
.fs-postheader a.hovered {
    font-size: 24px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

.fs-postheader a, .fs-postheader a:link {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    text-align: left;
    color: #4AB548;
}

.fs-postheader a:visited, .fs-postheader a.visited {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    text-align: left;
    color: #70C66F;
}

.fs-postheader a:hover, .fs-postheader a.hovered {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    text-align: left;
    color: #FABC1E;
}

.fs-postheadericons,
.fs-postheadericons a,
.fs-postheadericons a:link,
.fs-postheadericons a:visited,
.fs-postheadericons a:hover {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #43A442;
}

.fs-postheadericons {
    display: inline-block;
    padding: 1px;
    margin: 0 0 0 10px;
}

.fs-postheadericons a, .fs-postheadericons a:link {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    color: #398C38;
}

.fs-postheadericons a:visited, .fs-postheadericons a.visited {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #585F6C;
}

.fs-postheadericons a:hover, .fs-postheadericons a.hover {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
    color: #C08B04;
}

.fs-postdateicon:before {
    content: url('/images/fe-bk01/postdateicon.png');
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}

.opera .fs-postdateicon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-postauthoricon:before {
    content: url('/images/fe-bk01/postauthoricon.png');
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}

.opera .fs-postauthoricon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-postpdficon:before {
    content: url('/images/fe-bk01/postpdficon.png');
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}

.opera .fs-postpdficon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-postemailicon:before {
    content: url('/images/fe-bk01/postemailicon.png');
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}

.opera .fs-postemailicon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-postediticon:before {
    content: url('/images/fe-bk01/postediticon.png');
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}

.opera .fs-postediticon:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-postcontent ul>li:before, .fs-post ul>li:before, .fs-textblock ul>li:before {
    content: url('/images/fe-bk01/postbullets.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
}

.opera .fs-postcontent ul>li:before, .opera   .fs-post ul>li:before, .opera   .fs-textblock ul>li:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-postcontent li, .fs-post li, .fs-textblock li {
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #3F444D;
    margin: 3px 0 0 11px;
}

.fs-postcontent ul>li, .fs-post ul>li, .fs-textblock ul>li, .fs-postcontent ol, .fs-post ol, .fs-textblock ol {
    padding: 0;
}

.fs-postcontent ul>li, .fs-post ul>li, .fs-textblock ul>li {
    padding-left: 11px;
}

.fs-postcontent ul>li:before, .fs-post ul>li:before, .fs-textblock ul>li:before {
    margin-left: -11px;
}

.fs-postcontent ol, .fs-post ol, .fs-textblock ol, .fs-postcontent ul, .fs-post ul, .fs-textblock ul {
    margin: 1em 0 1em 11px;
}

.fs-postcontent li ol, .fs-post li ol, .fs-textblock li ol, .fs-postcontent li ul, .fs-post li ul, .fs-textblock li ul {
    margin: 0.5em 0 0.5em 11px;
}

.fs-postcontent li, .fs-post li, .fs-textblock li {
    margin: 3px 0 0 0;
}

.fs-postcontent ol>li, .fs-post ol>li, .fs-textblock ol>li {
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible;
}

.fs-postcontent ul>li, .fs-post ul>li, .fs-textblock ul>li {
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden;
}

blockquote {
    background: #F3FAF3 url('/images/fe-bk01/postquote.png') no-repeat scroll;
    padding: 15px 15px 15px 52px;
    margin: 0 0 0 10px;
    color: #121316;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    text-align: left;
    /* makes block not to align behind the image if they are in the same line */
    overflow: auto;
    clear: both;
}

blockquote a, .fs-postcontent blockquote a, .fs-blockcontent blockquote a, .fs-footer blockquote a,
blockquote a:link, .fs-postcontent blockquote a:link, .fs-blockcontent blockquote a:link, .fs-footer blockquote a:link,
blockquote a:visited, .fs-postcontent blockquote a:visited, .fs-blockcontent blockquote a:visited, .fs-footer blockquote a:visited,
blockquote a:hover, .fs-postcontent blockquote a:hover, .fs-blockcontent blockquote a:hover, .fs-footer blockquote a:hover {
    color: #121316;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.fs-postcontent blockquote p,
.fs-blockcontent blockquote p,
.fs-footer blockquote p {
    margin: 0;
    margin: 5px 0;
}

.fs-footer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #CCEACB;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    color: #282B31;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    line-height: 175%;
    text-align: center;
}

.fs-footer a,
.fs-footer a:link,
.fs-footer a:visited,
.fs-footer a:hover,
.fs-footer td,
.fs-footer th,
.fs-footer caption {
    color: #282B31;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    line-height: 175%;
}

.fs-footer p {
    padding: 0;
    text-align: center;
}

.fs-footer a,
.fs-footer a:link {
    color: #5DBE5B;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
}

.fs-footer a:visited {
    color: #818898;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
}

.fs-footer a:hover {
    color: #639F9E;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: underline;
}

.fs-footer img {
    border: none;
    margin: 0;
}

.fs-rss-tag-icon {
    background: url('/images/fe-bk01/footerrssicon.png') no-repeat scroll;
    margin: 0 auto;
    min-height: 32px;
    min-width: 32px;
    display: inline-block;
    text-indent: 35px;
    background-position: left center;
}

.fs-rss-tag-icon:empty {
    vertical-align: middle;
}

.fs-footer ul>li:before {
    content: url('/images/fe-bk01/footerbullets.png');
    margin-right: 6px;
    bottom: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    margin-left: -10px;
}

.opera .fs-footer ul>li:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-footer li {
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    color: #535966;
}

.fs-footer ul>li, .fs-footer ol {
    padding: 0;
}

.fs-footer ul>li {
    padding-left: 10px;
}

.fs-page-footer,
.fs-page-footer a,
.fs-page-footer a:link,
.fs-page-footer a:visited,
.fs-page-footer a:hover {
    font-family: Arial;
    font-size: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    color: #98D697;
}

.fs-page-footer {
    position: relative;
    z-index: auto !important;
    padding: 1em;
    text-align: center !important;
    text-decoration: none;
    color: #AFB4BE;
}

img.fs-lightbox {
    cursor: pointer;
}

#fs-lightbox-bg * {
    padding: 0;
    margin: 0;
}

div#fs-lightbox-bg {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    z-index: 9999;
}

img.fs-lightbox-image {
    -webkit-transition: opacity 350ms ease-in-out;
    -moz-transition: opacity 350ms ease-in-out;
    -o-transition: opacity 350ms ease-in-out;
    -ms-transition: opacity 350ms ease-in-out;
    transition: opacity 350ms ease-in-out;
    cursor: pointer;
    z-index: 10000;
    position: fixed;
    border: 6px solid #fff;
    border-radius: 3px;
    opacity: 0;
    filter: alpha(opacity = 0);
}

img.fs-lightbox-image.active {
    opacity: 1;
    filter: alpha(opacity = 100);
}

.lightbox-error {
    position: fixed;
    background: #fff;
    z-index: 100;
    opacity: 0.95;
    padding: 20px;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    box-shadow: 0 2px 5px #333;
    width: 300px;
    height: 80px;
}

.loading {
    position: fixed;
    background: #fff url('/images/fe-bk01/preloader-01.gif') center center no-repeat;
    width: 32px;
    height: 32px;
    z-index: 10100;
    opacity: 0.5;
    padding: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    box-shadow: 0 2px 5px #333;
}

.arrow {
    height: 100px;
    width: 82px;
    z-index: 10003;
    position: fixed;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.arrow.left {
    left: 9px;
}

.arrow.right {
    right: 9px;
}

.arrow:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}

.arrow.disabled {
    display: none;
}

.arrow-t, .arrow-b {
    height: 6px;
    width: 30px;
    left: 26px;
    background-color: #fff;
    position: relative;
    border-radius: 3px;
}

.arrow-t {
    top: 38px;
}

.arrow-b {
    top: 50px;
}

.close {
    width: 22px;
    height: 22px;
    position: fixed;
    top: 30px;
    right: 39px;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

.close:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}

.close .cw, .close .ccw {
    position: absolute;
    top: 8px;
    left: -4px;
    width: 30px;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
}

.cw {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
    -moz-transform: rotate(45deg);
    /* Firefox */
}

.ccw {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Safari and Chrome */
    -o-transform: rotate(-45deg);
    /* Opera */
    -moz-transform: rotate(-45deg);
    /* Firefox */
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
    display: none;
    color: #fff;
    font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
    display: block;
}

.ie8 .cw, .ie8 .ccw {
    display: none;
}

.fs-content-layout .fs-content {
    margin: 0 auto;
}

.fs-content-layout .fs-sidebar1 {
    border: 1px dotted #CCEACB;
    border-top: none;
    border-bottom: none;
    margin: 0 auto;
    width: 200px;
}

.fs-content-layout .fs-sidebar2 {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    margin: 0 auto;
    width: 200px;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */
