/* personalizzazioni */

/*blocco tramenu */
#fs-tramenu-wrapper {
    position: relative;
    width: 100%;
    min-height: 125px;
    background: #fff5d9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none'
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjVkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGNmNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    */
    background: -moz-linear-gradient(top, #ffe375 0%, #f2e6d0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe375), color-stop(100%, #f1e6d0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffe375 0%, #f1e6d0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffe375 0%, #f1e6d0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffe375 0%, #f1e6d0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffe375 0%, #f1e6d0 100%); /* W3C */
    -svg-background: linear-gradient(to bottom, #ffe375 0%, #f1e6d0 100%); /*IE9 */

}

.fs-tramenu-blockheader {
    width: 100%;
    font-size: 14px;
    color: #016284;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3px;

}

/*  inizio  -  -  -  -  -  -   tramenu   primo blocco a sx -  -  -  -  -  -  */

#fs-tramenu-blocco1 {
    width: 317px;
    height: 125px;
    display: block;
    float: left;
    /*
    background: url('/images/commons/offerta30.png') no-repeat center top;;   */
    border-right: dotted 1px #ffffbb;
}

/*prova gratis */
#fs-prova-gratis-fields {
    overflow: hidden;
    margin: -2px 0 0 17px;
}

.fs-prova-gratis-txt {
    display: inline-block;
    margin: 0 0 2px 4px;
    float: left;
}

.fs-prova-gratis {
    height: 40px;
    padding-top: 7px;
}

#fs-prova-gratis-btn {
    margin-left: 4px;
    width: 107px;
}

#fs-prova-gratis-info {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #5f0100;
    position: relative;
    margin: 7px auto;
    padding-left: 7px;
}

.fs-prova-gratis-info span {
    display: block;
    font-size: 10px;
    color: #45535d;
    font-weight: normal;
    margin: 5px 0 0 -10px;
    text-align: center;
    width: 98%;

}

.fs-prova-gratis-info span a {
    font-size: 10px;
    color: #23282f;
    font-weight: normal;
    text-decoration: underline;
}

.fs-prova-gratis-info a {
    font-size: 11px;
    color: #45535d;
    font-weight: bold;
}

#fs-prova-gratis-info label {
    float: left;
    margin-top: -3px;
}

.fs-prova-gratis-righe {
    display: block;
    float: left;
    margin-left: 5px;

}

/*  fine 1  -  -  -  -  -  -   tramenu   primo blocco a sx -  -  -  -  -  -  */
/*  inizio 2 -  -  -  -  -  -   tramenu   secondo blocco a sx -  -  -  -  -  -  */

#fs-tramenu-blocco2 {

    width: 367px;
    height: 125px;
    display: block;
    float: left;
    border-right: dotted 1px #ffffbb;

}

/*  carousel per assos */

.list_assos_carousel {
    padding: 0 15px;
    height: 125px;
    width: 300px;
    margin-top: -7px;
}

.list_assos_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.list_assos_carousel li {
    width: 115px;
    height: 115px;
    padding: 0;
    display: block;
    float: left;
    position: relative;

}

.list_assos_carousel li img {
    border: 1px solid #ccc;
    background-color: white;
    padding: 7px;
    margin: 5px;
    display: table-row;
    float: left;
    width: 80px;
    height: 80px

}

.list_assos_carousel li span {
    text-align: center;
    border: 1px dotted #d3d3d3;
    display: table-cell;
    position: absolute;
    top: 90px;
    left: 7px;
    padding-right: 7px;
    font-size: 11px;
    color: #0069ad;
}

.list_assos_carousel.responsive {
    width: auto;
    margin-left: 0;
}

#login-gravatar {
    position: absolute;
    right: 10px;
    top: 10px;
}

/*  fine 2  -  -  -  -  -  -   tramenu   secondo blocco  -  -  -  -  -  -  */
/*  inizio 3 -  -  -  -  -  -   tramenu   terzo blocco   -  -  -  -  -  -  */
#fs-tramenu-blocco3 {
    width: 265px;
    height: 125px;
    display: block;
    float: left;

}

#fs-form-login {
    height: 51px;
    width: 100%;

}

#fs-form-login span {
    display: inline-block;
    padding: 4px 0;
    color: #00678C !important;
    font-size: 11px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: none;
    width: 100px;
    float: left;

}

#fs-form-login input {
    display: inline;
    border: dotted 1px #233c80;
    width: 126px;
    float: left;
}

.gravatar {
    position: absolute;
    top: 21px;
    right: 7px;

}

.fs-form-login-remember label.fs-checkbox {
    width: 100px;
    float: left;
    font-size: 11px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
}

#fs-form-login-btn {
    width: 105px;
}

.fs-pass a:link {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #5f0100;
    position: relative;
}

/*  fine  3 -  -  -  -  -  -   tramenu   terzo blocco   -  -  -  -  -  -  */

/* pagina chi siamo */
h3.fs-postheader {
    color: #45535d;
    text-align: center;
}

.fs-chisiamo-item {
    width: 100%;
    height: 115px;
    display: table;
    float: left;

}

.fs-chisiamo-item img {
    float: left
}

.fs-chisiamo-item p {
    display: table-cell;
    vertical-align: middle;
}

/* Post regole comuni */
/*stilizzazione articolo in articolo_teaser */
/*
.fs-art-sezione {
    background: #FBC737;
   background: linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -moz-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -o-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -ms-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   -svg-background: linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
    margin:0 auto;
    position: relative;
    z-index: 100;
    text-align: left;
    display:inline;
    color: #8A311F;
    border-left: 1px dotted #7C9CC0;
    border-right: 4px dotted #7C9CC0;

}
*/
.fs-postdateicon {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 10px;
    font-weight: bold;
    background: #016284;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #fff;
    margin: 0 auto;
    display: inline-block;
    position: relative;

}

.fs-art-sezione {
    background: #016284;
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-Serif;
    /*
    background: linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
    background: -webkit-linear-gradient(top,#80DDFF 0, #d0e6e8 50%, #80DDFF 100%) no-repeat;
    background: -moz-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
    background: -o-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
    background: -ms-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
    background: linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
    -svg-background: linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
    */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    border: 1px solid #fff;
    margin: 0 auto;
    display: inline-block;
    position: relative;

}

.fs-art-sezione:after {
    content: url('/images/template/angolo.png');
    position: absolute;
    line-height: 0px;
    right: -14px;
    top: -3px;
    /*
   background-image: url('/images/template/angolo.png');
    background-repeat: no-repeat;
    color:#fff;
    width: 16px;
    height: 16px;
margin-left:-1px;*/

}

.fs-post-access-ok:before {
    content: url('/images/template/post-access-ok.png');
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}

.opera .fs-post-access-ok:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-post-access-no:before {
    content: url('/images/template/post-access-no.png');
    margin-right: 6px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    bottom: auto;
}

.opera .fs-post-access-no:before {
    /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

/* altre personalizzazioni */

.fs-content .fs-postcontent-1 .layout-item-0 {
    color: #000000;
    padding-right: 3px;
    padding-left: 3px;
    vertical-align: middle;

}

.fs-layout-cell .layout-item-0 {
    color: #000000;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    text-align: justify;

}

.fs-content .fs-postcontent-2 .layout-item-1 {
    padding-right: 3px;
    padding-left: 3px;
}

.fs-content .post-layout-item-0 {
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-width: 0;
    border-top-color: #68D7FF;
    border-right-color: #68D7FF;
    border-bottom-color: #68D7FF;
    border-left-color: #68D7FF;
    border-collapse: separate;
}

.fs-content .post-layout-item-1 {
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-width: 0;
    border-top-color: #68D7FF;
    border-right-color: #68D7FF;
    border-bottom-color: #68D7FF;
    border-left-color: #68D7FF;
    color: #00212D;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 15px;
}

.fs-content .post-layout-item-2 {
    border-collapse: separate;
}

.post-layout-item-3 {
    /*
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-color: #68D7FF;
  border-right-color: #68D7FF;
  border-bottom-color: #68D7FF;
  border-left-color: #68D7FF; */
    color: #00131A;
    background: #F0F0F0;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 15px;
    margin: 5px;
}

.fs-image-caption-wrapper {
    padding: 5px 5px 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 210px;
}

.fs-image-caption-wrapper img {
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
}

.fs-image-caption-wrapper div.fs-collage {
    margin: 0 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fs-image-caption-wrapper p {
    font-size: 90%;
    text-align: center;
    margin: 0;
}

.fs-postmetadatafooter-ok {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.60);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgba(104, 215, 255, 0.3);
    margin-left: -5px;
    position: relative;
    z-index: 1;
    padding: 1px;
}

.fs-postmetadatafooter-ko {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.60);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgb(255, 122, 114);
    margin-left: -5px;
    position: relative;
    z-index: 1;
    padding: 1px;
}

.fs-comments {
    border-bottom: 1px solid #d3d3d3;
    display: block;
}

.fs-riassunto-full {
    font-size: 17px;
    line-height: 22px;
}

.fs-postmetadata-full {
    background: #ffffff;
    border-bottom: 1px solid #d3d3d3;
    border-top: 3px solid #afafaf;
    margin: 0 0 10px 20px;
    position: relative;
    float: left;
    padding: 10px;
    width: 285px;
    display: block;
}

.fs-image-caption-wrapper-full {
    padding: 7px 8px 7px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 315px;
    border: solid 1px #afafaf;
}

.fs-image-caption-wrapper-full img {
    margin: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
}

.fs-postheader-full {
    color: #000000;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}

.fs-art-sezione-full {
    color: #0512a1;
    font-size: 12px;
    line-height: 22px;
    font-family: Arial, Helvetica, Sans-Serif;
    margin: 0 auto;
    display: inline-block;
    text-transform: uppercase;

}

/* fine post comuni */

/* inizio slide */
.fs-slidecontainerslideshutterstock_1 {
    position: relative;
    width: 256px;
    height: 236px;
}

.fs-slidecontainerslideshutterstock_1 .fs-slide-item {

}

.fs-slidecontainerslideshutterstock_1 .fs-slide-item {
    -webkit-transition: 600ms ease-in-out opacity;
    -moz-transition: 600ms ease-in-out opacity;
    -ms-transition: 600ms ease-in-out opacity;
    -o-transition: 600ms ease-in-out opacity;
    transition: 600ms ease-in-out opacity;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.fs-slidecontainerslideshutterstock_1 .active, .fs-slidecontainerslideshutterstock_1 .next, .fs-slidecontainerslideshutterstock_1 .prev {
    display: block;
}

.fs-slidecontainerslideshutterstock_1 .active {
    opacity: 1;
}

.fs-slidecontainerslideshutterstock_1 .next, .fs-slidecontainerslideshutterstock_1 .prev {
    width: 100%;
}

.fs-slidecontainerslideshutterstock_1 .next.forward, .fs-slidecontainerslideshutterstock_1 .prev.back {
    opacity: 1;
}

.fs-slidecontainerslideshutterstock_1 .active.forward {
    opacity: 0;
}

.fs-slidecontainerslideshutterstock_1 .active.back {
    opacity: 0;
}

.fs-slideslideshutterstock_10 {
    background-image: url('/images/slides/slideslideshutterstock_10.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.fs-slideslideshutterstock_11 {
    background-image: url('/images/slides/slideslideshutterstock_11.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.fs-slideslideshutterstock_12 {
    background-image: url('/images/slides/slideslideshutterstock_12.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.fs-slideslideshutterstock_13 {
    background-image: url('/images/slides/slideslideshutterstock_13.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.fs-slideslideshutterstock_14 {
    background-image: url('/images/slides/slideslideshutterstock_14.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.fs-slideslideshutterstock_15 {
    background-image: url('/images/slides/slideslideshutterstock_15.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.fs-slidenavigatorslideshutterstock_1 {
    display: inline-block;
    position: absolute;
    direction: ltr !important;
    top: 218px;
    left: 59%;
    z-index: 101;
    line-height: 0 !important;
    -webkit-background-origin: border !important;
    -moz-background-origin: border !important;
    background-origin: border-box !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
}

.fs-slidenavigatorslideshutterstock_1 {
    background: #A8A8A8;
    background: transparent;
    padding: 5px;

}

.fs-slidenavigatorslideshutterstock_1 > a {
    background: #5C5C5C;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    border-radius: 30%;

    margin: 0 10px 0 0;

    width: 7px;

    height: 7px;
}

.fs-slidenavigatorslideshutterstock_1 > a.active {
    background: #006185;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    border-radius: 30%;

    border: 1px solid #006185;

    margin: 0 10px 0 0;

    width: 7px;

    height: 7px;
}

.fs-slidenavigatorslideshutterstock_1 > a:hover {
    background: #0087B8;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    border-radius: 30%;

    border: 1px solid #00A8E5;

    margin: 0 10px 0 0;

    width: 7px;

    height: 7px;
}

/*  fine slide */

#approfondimenti3 {
    background-image: url('/images/commons/3-32.png');
    background-repeat: no-repeat;
    background-color: #EAF4F5;
    background-clip: content-box;
    -webkit-background-clip: content-box; /* Safari */
    background-position: 2px 1px;
}

#approfondimenti9 {
    background-image: url('/images/commons/9-32.png');
    background-repeat: no-repeat;
    background-color: #EAF4F5;
    background-clip: content-box;
    -webkit-background-clip: content-box; /* Safari */
    background-position: 2px 1px;
}

#approfondimenti19 {
    background-image: url('/images/commons/19-32.png');
    background-repeat: no-repeat;
    background-color: #EAF4F5;
    background-clip: content-box;
    -webkit-background-clip: content-box; /* Safari */
    background-position: 2px 1px;
}

/*     menudi navigazione    */
.art-nav {
    /*
   background: #FBC737;
   background: linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -moz-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -o-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: -ms-linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   background: linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
   -svg-background: linear-gradient(top, #FAC01E 0, #FBCC4B 40%, #FBCC4B 50%, #FBCC4B 60%, #FAC01E 100%) no-repeat;
  */
    padding: 2px;
    z-index: 100;
    font-size: 0;
    width: 100%;
    text-align: center;
    border-left: 1px dotted #7C9CC0;
    border-right: 1px dotted #7C9CC0;
}

ul.fs-menu3-hmenu a, ul.fs-menu3-hmenu a:link, ul.fs-menu3-hmenu a:visited, ul.fs-menu3-hmenu a:hover {
    outline: none;
    position: relative;
    z-index: 11;
}

ul.fs-menu3-hmenu, ul.fs-menu3-hmenu ul {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

ul.fs-menu3-hmenu li {
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none;
    margin: 2px 0;
    padding: 0;
    border: 0;
}

ul.fs-menu3-hmenu li:hover {
    z-index: 10000;
    white-space: normal;
}

ul.fs-menu3-hmenu:after, ul.fs-menu3-hmenu ul:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

ul.fs-menu3-hmenu, ul.fs-menu3-hmenu ul {
    min-height: 0;
}

ul.fs-menu3-hmenu {
    display: inline-block;
    vertical-align: middle;
}

.art-nav:before {
    content: ' ';
}

.fs-menu3-hmenu-extra1 {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    background-position: center;
}

.fs-menu3-hmenu-extra2 {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    background-position: center;
}

.art-menuitemcontainer {
    margin: 0 auto;
}

ul.fs-menu3-hmenu>li {
    margin-left: 7px;
}

ul.fs-menu3-hmenu>li:first-child {
    margin-left: 7px;
}

ul.fs-menu3-hmenu>li:last-child, ul.fs-menu3-hmenu>li.last-child {
    margin-right: 3px;
}

ul.fs-menu3-hmenu>li>a {
    /*  background: #CBD1D7;
     background: linear-gradient(top, #BAC2CA 0, #D7DBE0 40%, #DADEE2 50%, #D7DBE0 60%, #BAC2CA 100%) no-repeat;
     background: -webkit-linear-gradient(top, #BAC2CA 0, #D7DBE0 40%, #DADEE2 50%, #D7DBE0 60%, #BAC2CA 100%) no-repeat;
     background: -moz-linear-gradient(top, #BAC2CA 0, #D7DBE0 40%, #DADEE2 50%, #D7DBE0 60%, #BAC2CA 100%) no-repeat;
     background: -o-linear-gradient(top, #BAC2CA 0, #D7DBE0 40%, #DADEE2 50%, #D7DBE0 60%, #BAC2CA 100%) no-repeat;
     background: -ms-linear-gradient(top, #BAC2CA 0, #D7DBE0 40%, #DADEE2 50%, #D7DBE0 60%, #BAC2CA 100%) no-repeat;
     background: linear-gradient(top, #BAC2CA 0, #D7DBE0 40%, #DADEE2 50%, #D7DBE0 60%, #BAC2CA 100%) no-repeat;
     -svg-background: linear-gradient(top, #BAC2CA 0, #D7DBE0 40%, #DADEE2 50%, #D7DBE0 60%, #BAC2CA 100%) no-repeat;
    */

    position: relative;
    display: block;
    height: 32px;
    cursor: pointer;
    text-decoration: none;

    line-height: 32px;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0 6px 0 38px;
    margin: 0 auto;
    color: #2A3A4C;
    text-decoration: none;
    border-bottom: 3px solid #45535d;
    border-top: 1px solid #cdd4ec;
    border-right: 2px solid #45535d;
    border-left: 1px solid #cdd4ec;
}

.fs-menu3-hmenu a,
.fs-menu3-hmenu a:link,
.fs-menu3-hmenu a:visited,
.fs-menu3-hmenu a.active,
.fs-menu3-hmenu a:hover {
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
}

ul.fs-menu3-hmenu>li>a.active {
    /*
    background: #2C4D63;
    background: linear-gradient(top, #365D78 0, #264254 40%, #243F51 50%, #264254 60%, #365D78 100%) no-repeat;
    background: -webkit-linear-gradient(top, #365D78 0, #264254 40%, #243F51 50%, #264254 60%, #365D78 100%) no-repeat;
    background: -moz-linear-gradient(top, #365D78 0, #264254 40%, #243F51 50%, #264254 60%, #365D78 100%) no-repeat;
    background: -o-linear-gradient(top, #365D78 0, #264254 40%, #243F51 50%, #264254 60%, #365D78 100%) no-repeat;
    background: -ms-linear-gradient(top, #365D78 0, #264254 40%, #243F51 50%, #264254 60%, #365D78 100%) no-repeat;
    background: linear-gradient(top, #365D78 0, #264254 40%, #243F51 50%, #264254 60%, #365D78 100%) no-repeat;
    -svg-background: linear-gradient(top, #365D78 0, #264254 40%, #243F51 50%, #264254 60%, #365D78 100%) no-repeat;
    */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0 6px 0 38px;
    margin: 0 auto;
    color: #5f0100;
    text-decoration: none;
    border-bottom: 3px solid #fcc510;
    border-top: 1px solid #f4f0a7;
    border-right: 2px solid #fcc510;
    border-left: 1px solid #f4f0a7;
}

ul.fs-menu3-hmenu>li>a:visited,
ul.fs-menu3-hmenu>li>a:hover,
ul.fs-menu3-hmenu>li:hover>a {
    text-decoration: none;
}

ul.fs-menu3-hmenu>li>a:hover, .desktop ul.fs-menu3-hmenu>li:hover>a {
    /* background: #2C4D63;      */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0 6px 0 38px;
    margin: 0 auto;
    color: #5f0100;
    text-decoration: none;
    border-bottom: 3px solid #45535d;
    border-top: 1px solid #e8ded5;
    border-right: 2px solid #45535d;
    border-left: 1px solid #e8ded5;
}

ul.fs-menu3-hmenu>li>a:hover,
ul.fs-menu3-hmenu>li:hover>a {
    color: #fcc510;
    text-decoration: none;
}

ul.fs-menu3-hmenu>li:before {
    /*
position:absolute;
display: block;
content:' ';
top:0;
left:  -7px;
width:7px;
height: 32px;
background: url('/images/menuseparator.png') center center no-repeat;   */
}

ul.fs-menu3-hmenu>li:first-child:before {

}

ul.fs-menu3-hmenu li li a {
    background: #FCD66E;
    background: transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0 22px;
    margin: 0 auto;
}

ul.fs-menu3-hmenu li li {
    float: none;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.fs-menu3-hmenu li li ul>li:first-child {
    margin-top: 0;
}

ul.fs-menu3-hmenu li li ul>li:last-child {
    margin-bottom: 0;
}

.fs-menu3-hmenu ul a {
    display: block;
    white-space: nowrap;
    height: 30px;
    min-width: 7em;
    border: 0 solid transparent;
    text-align: left;
    line-height: 30px;
    color: #5F4602;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
}

.fs-menu3-hmenu ul a:link,
.fs-menu3-hmenu ul a:visited,
.fs-menu3-hmenu ul a.active,
.fs-menu3-hmenu ul a:hover {
    text-align: left;
    line-height: 30px;
    color: #5f0100;
    font-size: 13px;
    font-family: Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
}

ul.fs-menu3-hmenu li li:after {
    display: block;
    position: absolute;
    content: ' ';
    height: 0;
    top: -3px;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid #FCD569;
}

ul.fs-menu3-hmenu li li:first-child:before,
ul.fs-menu3-hmenu li li:first-child:after {
    display: none;
}

ul.fs-menu3-hmenu ul li a:hover, .desktop ul.fs-menu3-hmenu ul li:hover>a {
    background: #C7C7C7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 auto;
}

.fs-menu3-hmenu ul a:hover {
    text-decoration: underline;
}

.fs-menu3-hmenu ul li a:hover {
    color: #000000;
}

.fs-menu3-hmenu ul li:hover>a {
    color: #000000;
}

ul.fs-menu3-hmenu ul:before {
    background: #FDEAB4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 auto;
    display: block;
    position: absolute;
    content: ' ';
    z-index: 1;
}

ul.fs-menu3-hmenu li:hover>ul {
    visibility: visible;
    top: 100%;
}

ul.fs-menu3-hmenu li li:hover>ul {
    top: 0;
    left: 100%;
}

ul.fs-menu3-hmenu ul {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-image: url('/images/template/spacer.gif');
}

/*    secondo menu blu */

.fs-menu2-nav {
    background: #8A311F;
    background: linear-gradient(top, #7D2C1C 0, #913421 40%, #913421 50%, #913421 60%, #7D2C1C 100%) no-repeat;
    background: -webkit-linear-gradient(top, #7D2C1C 0, #913421 40%, #913421 50%, #913421 60%, #7D2C1C 100%) no-repeat;
    background: -moz-linear-gradient(top, #7D2C1C 0, #913421 40%, #913421 50%, #913421 60%, #7D2C1C 100%) no-repeat;
    background: -o-linear-gradient(top, #7D2C1C 0, #913421 40%, #913421 50%, #913421 60%, #7D2C1C 100%) no-repeat;
    background: -ms-linear-gradient(top, #7D2C1C 0, #913421 40%, #913421 50%, #913421 60%, #7D2C1C 100%) no-repeat;
    background: linear-gradient(top, #7D2C1C 0, #913421 40%, #913421 50%, #913421 60%, #7D2C1C 100%) no-repeat;
    -svg-background: linear-gradient(top, #7D2C1C 0, #913421 40%, #913421 50%, #913421 60%, #7D2C1C 100%) no-repeat;
    border-top: 1px solid #FFF4D8;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    text-align: left;
}

ul.fs-menu2-hmenu a, ul.fs-menu2-hmenu a:link, ul.fs-menu2-hmenu a:visited, ul.fs-menu2-hmenu a:hover {
    outline: none;
    position: relative;
    z-index: 11;
}

ul.fs-menu2-hmenu, ul.fs-menu2-hmenu ul {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

ul.fs-menu2-hmenu li {
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

ul.fs-menu2-hmenu li:hover {
    z-index: 10000;
    white-space: normal;
}

ul.fs-menu2-hmenu:after, ul.fs-menu2-hmenu ul:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}

ul.fs-menu2-hmenu, ul.fs-menu2-hmenu ul {
    min-height: 0;
}

ul.fs-menu2-hmenu {
    display: inline-block;
    vertical-align: bottom;
}

.fs-menu2-nav:before {
    content: ' ';
}

.fs-menu2-hmenu-extra1 {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    background-position: center;
}

.fs-menu2-hmenu-extra2 {
    position: relative;
    display: block;
    float: right;
    width: auto;
    height: auto;
    background-position: center;
}

.fs-menu2-hmenu {
    float: left;
}

.fs-menu2-menuitemcontainer {
    margin: 0 auto;
}

ul.fs-menu2-hmenu>li {
    margin-left: 1px;
}

ul.fs-menu2-hmenu>li:first-child {
    margin-left: 0;
}

ul.fs-menu2-hmenu>li:last-child, ul.fs-menu2-hmenu>li.last-child {
    margin-right: 0;
}

ul.fs-menu2-hmenu>li>a {
    background: #36C9FF;
    background: transparent;
    padding: 0 18px;
    margin: 0 auto;
    position: relative;
    display: block;
    height: 38px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 38px;
    text-align: center;
}

.fs-menu2-hmenu a,
.fs-menu2-hmenu a:link,
.fs-menu2-hmenu a:visited,
.fs-menu2-hmenu a.active,
.fs-menu2-hmenu a:hover {
    font-size: 13px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
}

ul.fs-menu2-hmenu>li>a.active {
    background: #FFE066;
    background: linear-gradient(top, #FFDA47 0, #FFE375 40%, #FFE47A 50%, #FFE375 60%, #FFDA47 100%) no-repeat;
    background: -webkit-linear-gradient(top, #FFDA47 0, #FFE375 40%, #FFE47A 50%, #FFE375 60%, #FFDA47 100%) no-repeat;
    background: -moz-linear-gradient(top, #FFDA47 0, #FFE375 40%, #FFE47A 50%, #FFE375 60%, #FFDA47 100%) no-repeat;
    background: -o-linear-gradient(top, #FFDA47 0, #FFE375 40%, #FFE47A 50%, #FFE375 60%, #FFDA47 100%) no-repeat;
    background: -ms-linear-gradient(top, #FFDA47 0, #FFE375 40%, #FFE47A 50%, #FFE375 60%, #FFDA47 100%) no-repeat;
    background: linear-gradient(top, #FFDA47 0, #FFE375 40%, #FFE47A 50%, #FFE375 60%, #FFDA47 100%) no-repeat;
    -svg-background: linear-gradient(top, #FFDA47 0, #FFE375 40%, #FFE47A 50%, #FFE375 60%, #FFDA47 100%) no-repeat;
    padding: 0 18px;
    margin: 0 auto;
    color: #002532;
    text-decoration: none;
}

ul.fs-menu2-hmenu>li>a:visited,
ul.fs-menu2-hmenu>li>a:hover,
ul.fs-menu2-hmenu>li:hover>a {
    text-decoration: none;
}

ul.fs-menu2-hmenu>li>a:hover, .desktop ul.fs-menu2-hmenu>li:hover>a {
    background: #ffe375;
    padding: 0 18px;
    margin: 0 auto;
}

ul.fs-menu2-hmenu>li>a:hover,
ul.fs-menu2-hmenu>li:hover>a {
    color: #002938;
    text-decoration: none;
}

ul.fs-menu2-hmenu>li:before {
    position: absolute;
    display: block;
    content: ' ';
    top: 0;
    left: -1px;
    width: 1px;
    height: 38px;
    background: url('/images/template/menuseparator2.png') center center no-repeat;
}

/* ------------------ menu 2 a discesa   */

ul.fs-menu2-hmenu li li a {
    background: #fffcc2;
    padding: 0 17px;
    margin: 0 auto;
}

ul.fs-menu2-hmenu li li {
    float: none;
    width: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}

ul.fs-menu2-hmenu li li ul>li:first-child {
    margin-top: 0;
}

ul.fs-menu2-hmenu li li ul>li:last-child {
    margin-bottom: 0;
}

.fs-menu2-hmenu ul a {
    display: block;
    white-space: nowrap;
    height: 29px;
    min-width: 7em;
    border: 0 solid transparent;
    text-align: left;
    line-height: 29px;
    color: #000000;
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
}

.fs-menu2-hmenu ul a:link,
.fs-menu2-hmenu ul a:visited,
.fs-menu2-hmenu ul a.active,
.fs-menu2-hmenu ul a:hover {
    text-align: left;
    line-height: 29px;
    color: #000000;
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    margin: 0;
}

ul.fs-menu2-hmenu ul li a:hover, .desktop ul.fs-menu2-hmenu ul li:hover>a {
    background: #FFF4D8;
    margin: 0 auto;
}

.fs-menu2-hmenu ul a:hover {
    text-decoration: none;
}

.fs-menu2-hmenu ul li a:hover {
    color: #000000;
}

.fs-menu2-hmenu ul li:hover>a {
    color: #000000;
}

ul.fs-menu2-hmenu ul:before {
    background: #FFDC84;
    -webkit-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid #B9B9B9;
    margin: 0 auto;
    display: block;
    position: absolute;
    content: ' ';
    z-index: 1;
}

ul.fs-menu2-hmenu li:hover>ul {
    visibility: visible;
    top: 100%;
}

ul.fs-menu2-hmenu li li:hover>ul {
    top: 0;
    left: 100%;
}

ul.fs-menu2-hmenu ul {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-image: url('/images/template/spacer.gif');
}

ul.fs-menu2-hmenu>li>ul {
    padding: 12px 32px 32px 32px;
    margin: -10px 0 0 -30px;
}

ul.fs-menu2-hmenu ul ul {
    padding: 32px 32px 32px 12px;
    margin: -32px 0 0 -9px;
}

ul.fs-menu2-hmenu ul.fs-menu2-hmenu-left-to-right {
    right: auto;
    left: 0;
    margin: -10px 0 0 -30px;
}

ul.fs-menu2-hmenu ul.fs-menu2-hmenu-right-to-left {
    left: auto;
    right: 0;
    margin: -10px -30px 0 0;
}

ul.fs-menu2-hmenu li li:hover>ul.fs-menu2-hmenu-left-to-right {
    right: auto;
    left: 100%;
}

ul.fs-menu2-hmenu li li:hover>ul.fs-menu2-hmenu-right-to-left {
    left: auto;
    right: 100%;
}

ul.fs-menu2-hmenu ul ul.fs-menu2-hmenu-left-to-right {
    right: auto;
    left: 0;
    padding: 32px 32px 32px 12px;
    margin: -32px 0 0 -9px;
}

ul.fs-menu2-hmenu ul ul.fs-menu2-hmenu-right-to-left {
    left: auto;
    right: 0;
    padding: 32px 12px 32px 32px;
    margin: -32px -9px 0 0;
}

ul.fs-menu2-hmenu li ul>li:first-child {
    margin-top: 0;
}

ul.fs-menu2-hmenu li ul>li:last-child {
    margin-bottom: 0;
}

ul.fs-menu2-hmenu ul ul:before {
    border-radius: 0;
    top: 30px;
    bottom: 30px;
    right: 30px;
    left: 10px;
}

ul.fs-menu2-hmenu>li>ul:before {
    top: 10px;
    right: 30px;
    bottom: 30px;
    left: 30px;
}

ul.fs-menu2-hmenu>li>ul.fs-menu2-hmenu-left-to-right:before {
    right: 30px;
    left: 30px;
}

ul.fs-menu2-hmenu>li>ul.fs-menu2-hmenu-right-to-left:before {
    right: 30px;
    left: 30px;
}

ul.fs-menu2-hmenu ul ul.fs-menu2-hmenu-left-to-right:before {
    right: 30px;
    left: 10px;
}

ul.fs-menu2-hmenu ul ul.fs-menu2-hmenu-right-to-left:before {
    right: 10px;
    left: 30px;
}

ul.fs-menu2-hmenu>li.ext>a {
    white-space: nowrap;
}

ul.fs-menu2-hmenu>li.ext>a:hover,
ul.fs-menu2-hmenu>li.ext:hover>a,
ul.fs-menu2-hmenu>li.ext:hover>a.active {
    background: none;
    /* default padding + border size */
    padding: 7px 25px 0 25px;
    /* margin for shadow */
    margin: -7px -7px 0 -7px;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #000000;
}

ul.fs-menu2-hmenu>li.ext>a:hover:before,
ul.fs-menu2-hmenu>li.ext:hover>a:before,
ul.fs-menu2-hmenu>li.ext:hover>a.active:before {
    position: absolute;
    content: ' ';
    /* top, right, left - for shadow */
    top: 7px;
    right: 7px;
    left: 7px;
    /* border + shadow */
    bottom: -8px;
    background-color: #FFDC84;
    border: 1px solid #B9B9B9;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    z-index: -1;
}

ul.fs-menu2-hmenu>li.ext:hover>ul {
    padding-top: 1px;
    /* menu bar padding */
    margin-top: 0;
}

ul.fs-menu2-hmenu>li.ext:hover>ul:before {
    /* border + shadow */
    top: -8px;
    clip: rect(9px, auto, auto, auto);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

ul.fs-menu2-hmenu>li.ext>.ext-r,
ul.fs-menu2-hmenu>li.ext>.ext-l,
ul.fs-menu2-hmenu>li.ext>.ext-m,
ul.fs-menu2-hmenu>li.ext>.ext-off {
    display: none;
    z-index: 12;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul.fs-menu2-hmenu>li.ext>ul {
    z-index: 13;
}

ul.fs-menu2-hmenu>li.ext.ext-r:hover>.ext-r,
ul.fs-menu2-hmenu>li.ext.ext-l:hover>.ext-l {
    position: absolute;
    display: block;
    overflow: hidden;
    /* size of radius
    * if size if 0 we should now generate script
    * that adds ext-r and ext-m divs
    */
    height: 9px;
    top: 100%;
    padding-top: 8px;
    margin-top: -8px;
    /* border width + shadow */
}

ul.fs-menu2-hmenu>li.ext:hover>.ext-r:before,
ul.fs-menu2-hmenu>li.ext:hover>.ext-l:before {
    position: absolute;
    content: ' ';
    top: 7px;
    /* border + shadow */
    bottom: -8px;
    background-color: #FFDC84;
    border: 1px solid #B9B9B9;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

ul.fs-menu2-hmenu>li.ext.ext-r:hover>.ext-r {
    left: 100%;
    right: auto;
    padding-left: 0;
    margin-left: 0;
    padding-right: 8px;
    margin-right: -8px;
    /* only shadow */
}

ul.fs-menu2-hmenu>li.ext.ext-r:hover>.ext-r:before {
    right: 7px;
    left: -8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ul.fs-menu2-hmenu>li.ext.ext-l:hover>.ext-l {
    right: 100%;
    left: auto;
    padding-right: 0;
    margin-right: 0;
    padding-left: 8px;
    margin-left: -8px;
    /* only shadow */
}

ul.fs-menu2-hmenu>li.ext.ext-l:hover>.ext-l:before {
    right: -8px;
    left: 7px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

ul.fs-menu2-hmenu>li.ext:hover>.ext-m,
ul.fs-menu2-hmenu>li.ext:hover>.ext-off {
    position: absolute;
    display: block;
    overflow: hidden;
    height: 1px;
    top: 100%;
}

ul.fs-menu2-hmenu>li.ext.ext-r:hover>.ext-m {
    /* shadow offset */
    left: -7px;
    right: 0;
    /* shadow offset */
    padding-right: 0;
    padding-left: 7px;
}

ul.fs-menu2-hmenu>li.ext:hover>.ext-off {
    /* shadow offset */
    left: -7px;
    right: -7px;
    /* shadow offset */
    padding-left: 7px;
    padding-right: 7px;
}

ul.fs-menu2-hmenu>li.ext.ext-l:hover>.ext-m {
    /* shadow offset */
    right: -7px;
    left: 0;
    /* shadow offset */
    padding-left: 0;
    padding-right: 7px;
}

ul.fs-menu2-hmenu>li.ext.ext-l.ext-r:hover>.ext-m {
    /* shadow offset */
    right: -7px;
    left: -7px;
    /* shadow offset */
    padding-left: 7px;
    padding-right: 7px;
}

ul.fs-menu2-hmenu>li.ext:hover>.ext-m:before,
ul.fs-menu2-hmenu>li.ext:hover>.ext-off:before {
    position: absolute;
    content: ' ';
    top: -8px;
    bottom: -8px;
    /* shadow offset */
    background-color: #FFDC84;
    border: 1px solid #B9B9B9;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

ul.fs-menu2-hmenu>li.ext.ext-r:hover>.ext-m:before {
    right: -8px;
    left: 7px;
}

ul.fs-menu2-hmenu>li.ext.ext-l:hover>.ext-m:before {
    left: -8px;
    right: 7px;
}

ul.fs-menu2-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before {
    left: -8px;
    right: -8px;

}

