/* Created by Artisteer v4.0.0.59100 */

#fs-menu2-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-align: justify;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.fs-menu2-hmenu
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.fs-menu2-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #EBA800;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   padding:0 10px;
   margin:0 auto;
   height:24px;
}

.fs-menu2-postcontent,
.fs-menu2-postheadericons,
.fs-menu2-postfootericons,
.fs-menu2-blockcontent,
ul.fs-menu2-vmenu a 
{
   text-align: justify;
}

.fs-menu2-postcontent,
.fs-menu2-postcontent li,
.fs-menu2-postcontent table,
.fs-menu2-postcontent a,
.fs-menu2-postcontent a:link,
.fs-menu2-postcontent a:visited,
.fs-menu2-postcontent a.visited,
.fs-menu2-postcontent a:hover,
.fs-menu2-postcontent a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-menu2-postcontent p
{
   margin: 12px 0;
}

.fs-menu2-postcontent h1, .fs-menu2-postcontent h1 a, .fs-menu2-postcontent h1 a:link, .fs-menu2-postcontent h1 a:visited, .fs-menu2-postcontent h1 a:hover,
.fs-menu2-postcontent h2, .fs-menu2-postcontent h2 a, .fs-menu2-postcontent h2 a:link, .fs-menu2-postcontent h2 a:visited, .fs-menu2-postcontent h2 a:hover,
.fs-menu2-postcontent h3, .fs-menu2-postcontent h3 a, .fs-menu2-postcontent h3 a:link, .fs-menu2-postcontent h3 a:visited, .fs-menu2-postcontent h3 a:hover,
.fs-menu2-postcontent h4, .fs-menu2-postcontent h4 a, .fs-menu2-postcontent h4 a:link, .fs-menu2-postcontent h4 a:visited, .fs-menu2-postcontent h4 a:hover,
.fs-menu2-postcontent h5, .fs-menu2-postcontent h5 a, .fs-menu2-postcontent h5 a:link, .fs-menu2-postcontent h5 a:visited, .fs-menu2-postcontent h5 a:hover,
.fs-menu2-postcontent h6, .fs-menu2-postcontent h6 a, .fs-menu2-postcontent h6 a:link, .fs-menu2-postcontent h6 a:visited, .fs-menu2-postcontent h6 a:hover,
.fs-menu2-blockheader .t, .fs-menu2-blockheader .t a, .fs-menu2-blockheader .t a:link, .fs-menu2-blockheader .t a:visited, .fs-menu2-blockheader .t a:hover,
.fs-menu2-vmenublockheader .t, .fs-menu2-vmenublockheader .t a, .fs-menu2-vmenublockheader .t a:link, .fs-menu2-vmenublockheader .t a:visited, .fs-menu2-vmenublockheader .t a:hover,
.fs-menu2-headline, .fs-menu2-headline a, .fs-menu2-headline a:link, .fs-menu2-headline a:visited, .fs-menu2-headline a:hover,
.fs-menu2-slogan, .fs-menu2-slogan a, .fs-menu2-slogan a:link, .fs-menu2-slogan a:visited, .fs-menu2-slogan a:hover,
.fs-menu2-postheader, .fs-menu2-postheader a, .fs-menu2-postheader a:link, .fs-menu2-postheader a:visited, .fs-menu2-postheader a:hover
{
   font-size: 30px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   font-variant: small-caps;
   line-height: 120%;
}

.fs-menu2-postcontent a, .fs-menu2-postcontent a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #494949;
}

.fs-menu2-postcontent a:visited, .fs-menu2-postcontent a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #006B92;
}

.fs-menu2-postcontent  a:hover, .fs-menu2-postcontent a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #926900;
}

.fs-menu2-postcontent h1
{
   color: #494949;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h1 a, .fs-menu2-postcontent h1 a:link, .fs-menu2-postcontent h1 a:hover, .fs-menu2-postcontent h1 a:visited, .fs-menu2-blockcontent h1 a, .fs-menu2-blockcontent h1 a:link, .fs-menu2-blockcontent h1 a:hover, .fs-menu2-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h2
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h2 a, .fs-menu2-postcontent h2 a:link, .fs-menu2-postcontent h2 a:hover, .fs-menu2-postcontent h2 a:visited, .fs-menu2-blockcontent h2 a, .fs-menu2-blockcontent h2 a:link, .fs-menu2-blockcontent h2 a:hover, .fs-menu2-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h3
{
   color: #494949;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h3 a, .fs-menu2-postcontent h3 a:link, .fs-menu2-postcontent h3 a:hover, .fs-menu2-postcontent h3 a:visited, .fs-menu2-blockcontent h3 a, .fs-menu2-blockcontent h3 a:link, .fs-menu2-blockcontent h3 a:hover, .fs-menu2-blockcontent h3 a:visited 
{
   font-size: 18px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h4
{
   color: #00678C;
   margin: 10px 0 0;
   font-size: 16px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h4 a, .fs-menu2-postcontent h4 a:link, .fs-menu2-postcontent h4 a:hover, .fs-menu2-postcontent h4 a:visited, .fs-menu2-blockcontent h4 a, .fs-menu2-blockcontent h4 a:link, .fs-menu2-blockcontent h4 a:hover, .fs-menu2-blockcontent h4 a:visited 
{
   font-size: 16px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h5
{
   color: #00678C;
   margin: 10px 0 0;
   font-size: 14px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h5 a, .fs-menu2-postcontent h5 a:link, .fs-menu2-postcontent h5 a:hover, .fs-menu2-postcontent h5 a:visited, .fs-menu2-blockcontent h5 a, .fs-menu2-blockcontent h5 a:link, .fs-menu2-blockcontent h5 a:hover, .fs-menu2-blockcontent h5 a:visited 
{
   font-size: 14px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h6
{
   color: #006B92;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postcontent h6 a, .fs-menu2-postcontent h6 a:link, .fs-menu2-postcontent h6 a:hover, .fs-menu2-postcontent h6 a:visited, .fs-menu2-blockcontent h6 a, .fs-menu2-blockcontent h6 a:link, .fs-menu2-blockcontent h6 a:hover, .fs-menu2-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-variant: small-caps;
   text-align: center;
}

header, footer, article, nav, #fs-menu2-hmenu-bg, .fs-menu2-sheet, .fs-menu2-hmenu a, .fs-menu2-vmenu a, .fs-menu2-slidenavigator > a, .fs-menu2-checkbox:before, .fs-menu2-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #fs-menu2-hmenu-bg, .fs-menu2-sheet, .fs-menu2-slidenavigator > a, .fs-menu2-checkbox:before, .fs-menu2-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 974px;
   color: #00212D;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .fs-menu2-postcontent li h1, .fs-menu2-blockcontent li h1 
{
   margin:1px;
} 
li h2, .fs-menu2-postcontent li h2, .fs-menu2-blockcontent li h2 
{
   margin:1px;
} 
li h3, .fs-menu2-postcontent li h3, .fs-menu2-blockcontent li h3 
{
   margin:1px;
} 
li h4, .fs-menu2-postcontent li h4, .fs-menu2-blockcontent li h4 
{
   margin:1px;
} 
li h5, .fs-menu2-postcontent li h5, .fs-menu2-blockcontent li h5 
{
   margin:1px;
} 
li h6, .fs-menu2-postcontent li h6, .fs-menu2-blockcontent li h6 
{
   margin:1px;
} 
li p, .fs-menu2-postcontent li p, .fs-menu2-blockcontent li p 
{
   margin:1px;
}


.fs-menu2-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.fs-menu2-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.fs-menu2-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.fs-menu2-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.fs-menu2-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 27px;
  left: 37.69%;
  line-height: 100%;
  margin-left: -235px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.fs-menu2-headline, 
.fs-menu2-headline a, 
.fs-menu2-headline a:link, 
.fs-menu2-headline a:visited, 
.fs-menu2-headline a:hover
{
font-size: 30px;
font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
font-variant: small-caps;
text-align: left;
  padding: 0;
  margin: 0;
  color: #00435C !important;
  white-space: nowrap;
}
.fs-menu2-object375974515 h1, 
.fs-menu2-object375974515 h2, 
.fs-menu2-object375974515 h3, 
.fs-menu2-object375974515 h4, 
.fs-menu2-object375974515 h5, 
.fs-menu2-object375974515 h6, 
.fs-menu2-object375974515 p, 
.fs-menu2-object375974515 a, 
.fs-menu2-object375974515 ul, 
.fs-menu2-object375974515 ol, 
.fs-menu2-object375974515 li
{
  line-height: 125%;
}

.fs-menu2-object375974515
{  
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -121px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
    z-index: 101;
  width: 243px;
  height: 24px;
}







#fs-menu2-header-bg
{
   position: absolute;
   overflow:hidden;
   left:0;
   margin:0 auto;
   width: 100%;
   height: 100px;
   z-index: auto;
   background-position: center top;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
}

.fs-menu2-sheet
{
   background: #FFFFFF;
   -webkit-box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.4);
   border:1px solid #FFF4D8;
   padding:10px;
   margin:20px auto 0;
   position:relative;
   cursor:auto;
   width: 974px;
   z-index: auto !important;
}

.fs-menu2-header
{
   margin:0 auto;
   height: 100px;
   background-image: url('images/object1688855322.png'), url('images/header.jpg');
   background-position: 12px 0px, center top;
   background-repeat: no-repeat;
   position: relative;
   z-index: auto !important;
}

.responsive .fs-menu2-header 
{
   background-image: url('images/header.jpg');
   background-position: center center;
}

.fs-menu2-header>.widget 
{
   position:absolute;
   z-index:101;
}

.fs-menu2-nav
{
   background: #8A311F;
   border-top:1px solid #FFF4D8;
   margin:0 auto;
   position: relative;
   z-index: 100;
   text-align: left;
}

ul.fs-menu2-hmenu a, ul.fs-menu2-hmenu a:link, ul.fs-menu2-hmenu a:visited, ul.fs-menu2-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.fs-menu2-hmenu, ul.fs-menu2-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.fs-menu2-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.fs-menu2-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.fs-menu2-hmenu:after, ul.fs-menu2-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.fs-menu2-hmenu, ul.fs-menu2-hmenu ul 
{
   min-height: 0;
}

ul.fs-menu2-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
}

.fs-menu2-nav:before 
{
   content:' ';
}

.fs-menu2-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.fs-menu2-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.fs-menu2-hmenu
{
   float: left;
}

.fs-menu2-menuitemcontainer
{
   margin:0 auto;
}
ul.fs-menu2-hmenu>li {
   margin-left: 1px;
}
ul.fs-menu2-hmenu>li:first-child {
   margin-left: 0;
}
ul.fs-menu2-hmenu>li:last-child, ul.fs-menu2-hmenu>li.last-child {
   margin-right: 0;
}

ul.fs-menu2-hmenu>li>a
{
   background: #36C9FF;
   background: transparent;
   padding:0 30px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 38px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 38px;
   text-align: center;
}

.fs-menu2-hmenu a, 
.fs-menu2-hmenu a:link, 
.fs-menu2-hmenu a:visited, 
.fs-menu2-hmenu a.active, 
.fs-menu2-hmenu a:hover
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

ul.fs-menu2-hmenu>li>a.active
{
   background: #FFF4D8;
   background: linear-gradient(top, #FFE8AD 0, #FFF8E5 40%, #FFF9EB 50%, #FFF8E5 60%, #FFE8AD 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFE8AD 0, #FFF8E5 40%, #FFF9EB 50%, #FFF8E5 60%, #FFE8AD 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFE8AD 0, #FFF8E5 40%, #FFF9EB 50%, #FFF8E5 60%, #FFE8AD 100%) no-repeat;
   background: -o-linear-gradient(top, #FFE8AD 0, #FFF8E5 40%, #FFF9EB 50%, #FFF8E5 60%, #FFE8AD 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFE8AD 0, #FFF8E5 40%, #FFF9EB 50%, #FFF8E5 60%, #FFE8AD 100%) no-repeat;
   background: linear-gradient(top, #FFE8AD 0, #FFF8E5 40%, #FFF9EB 50%, #FFF8E5 60%, #FFE8AD 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFE8AD 0, #FFF8E5 40%, #FFF9EB 50%, #FFF8E5 60%, #FFE8AD 100%) no-repeat;
   padding:0 30px;
   margin:0 auto;
   color: #005B7B;
   text-decoration: none;
}

ul.fs-menu2-hmenu>li>a:visited, 
ul.fs-menu2-hmenu>li>a:hover, 
ul.fs-menu2-hmenu>li:hover>a {
   text-decoration: none;
}

ul.fs-menu2-hmenu>li>a:hover, .desktop ul.fs-menu2-hmenu>li:hover>a
{
   background: #FFDC84;
   padding:0 30px;
   margin:0 auto;
}
ul.fs-menu2-hmenu>li>a:hover, 
.desktop-nav ul.fs-menu2-hmenu>li:hover>a {
   color: #002938;
   text-decoration: none;
}

ul.fs-menu2-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -1px;
   width:1px;
   height: 38px;
   background: url('/images/template/menuseparator2.png') center center no-repeat;
}
ul.fs-menu2-hmenu>li:first-child:before{
   display:none;
}

ul.fs-menu2-hmenu ul
{
   display: none;
}

.fs-menu2-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.fs-menu2-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.fs-menu2-content-layout-row 
{
   display: table-row;
}

.fs-menu2-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.fs-menu2-vmenublock
{
   background: #FFFFFF;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid #68D7FF;
   padding:7px;
}
div.fs-menu2-vmenublock img
{
   margin: 0;
}

.fs-menu2-vmenublockheader
{
   background: #006B92;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid #68D7FF;
   border-left:none;
   border-right:none;
   padding:12px 0;
   margin:0 auto 4px;
}
.fs-menu2-vmenublockheader .t,
.fs-menu2-vmenublockheader .t a,
.fs-menu2-vmenublockheader .t a:link,
.fs-menu2-vmenublockheader .t a:visited, 
.fs-menu2-vmenublockheader .t a:hover
{
   color: #FFFFFF;
   font-size: 16px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   font-variant: small-caps;
   text-align: center;
   margin: 0 10px;
}

.fs-menu2-vmenublockcontent
{
   margin:0 auto;
}

ul.fs-menu2-vmenu, ul.fs-menu2-vmenu ul
{
   list-style: none;
   display: block;
}

ul.fs-menu2-vmenu, ul.fs-menu2-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.fs-menu2-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.fs-menu2-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul.fs-menu2-vmenu ul.active
{
   display: block;
}

ul.fs-menu2-vmenu>li>a
{
   padding:0 10px;
   margin:0 auto;
   color: #006B92;
   min-height: 30px;
   line-height: 30px;
}
ul.fs-menu2-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   position:relative;
}

ul.fs-menu2-vmenu li{
   position:relative;
}

ul.fs-menu2-vmenu>li
{
   margin-top: 2px;
}
ul.fs-menu2-vmenu>li>ul
{
   padding: 0;
   margin-top: 4px;
   margin-bottom: 4px;
}
ul.fs-menu2-vmenu>li:first-child
{
   margin-top:0;
}

ul.fs-menu2-vmenu>li>a:hover, ul.fs-menu2-vmenu>li>a.active:hover
{
   background: #9D9D9D;
   background: rgba(157, 157, 157, 0.4);
   padding:0 10px;
   margin:0 auto;
}
ul.fs-menu2-vmenu>li>a:hover, ul.fs-menu2-vmenu>li>a.active:hover
{
   text-decoration: none;
}

ul.fs-menu2-vmenu a:hover, ul.fs-menu2-vmenu a.active:hover 
{
   color: #0088B9;
}

ul.fs-menu2-vmenu>li>a.active:hover>span.border-top, ul.fs-menu2-vmenu>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul.fs-menu2-vmenu>li>a.active
{
   background: #FFDC84;
   background: rgba(255, 220, 132, 0.4);
   padding:0 10px;
   margin:0 auto;
   text-decoration: none;
   color: #000000;
}

ul.fs-menu2-vmenu>li>ul:before
{
   background: #FFFFFF;
   background: transparent;
   border:1px dotted transparent;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul.fs-menu2-vmenu li li a
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   position: relative;
}
ul.fs-menu2-vmenu ul li
{
   margin: 0;
   padding: 0;
}
ul.fs-menu2-vmenu li li{
   position: relative;
   margin-top: 2px;
}

ul.fs-menu2-vmenu ul a
{
   display: block;
   position: relative;
   min-height: 28px;
   overflow: visible;
   padding: 0;
   padding-left: 25px;
   padding-right: 25px;
   z-index: 0;
   line-height: 28px;
   color: #006B92;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.fs-menu2-vmenu ul a:visited, ul.fs-menu2-vmenu ul a.active:hover, ul.fs-menu2-vmenu ul a:hover, ul.fs-menu2-vmenu ul a.active
{
   line-height: 28px;
   color: #006B92;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.fs-menu2-vmenu ul ul a
{
   padding-left: 50px;
}
ul.fs-menu2-vmenu ul ul ul a
{
   padding-left: 75px;
}
ul.fs-menu2-vmenu ul ul ul ul a
{
   padding-left: 100px;
}
ul.fs-menu2-vmenu ul ul ul ul ul a
{
   padding-left: 125px;
}

ul.fs-menu2-vmenu li li a:before
{
   content:url('images/vmenusubitemicon.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.fs-menu2-vmenu li li a:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.fs-menu2-vmenu ul>li>a:hover, ul.fs-menu2-vmenu ul>li>a.active:hover
{
   background: #B9B9B9;
   background: rgba(185, 185, 185, 0.4);
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
}
ul.fs-menu2-vmenu ul li a:hover, ul.fs-menu2-vmenu ul li a.active:hover
{
   text-decoration: none;
   color: #003E54;
}

ul.fs-menu2-vmenu ul a:hover:after
{
   background-position: center ;
}
ul.fs-menu2-vmenu ul a.active:hover:after
{
   background-position: center ;
}
ul.fs-menu2-vmenu ul a.active:after
{
   background-position: bottom ;
}

ul.fs-menu2-vmenu li li a:hover:before
{
   content:url('images/vmenuhoveredsubitemicon.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.fs-menu2-vmenu li li a:hover:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.fs-menu2-vmenu ul>li>a.active
{
   background: #FFDC84;
   background: rgba(255, 220, 132, 0.4);
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
}
ul.fs-menu2-vmenu ul a.active, ul.fs-menu2-vmenu ul a:hover, ul.fs-menu2-vmenu ul a.active:hover
{
   text-decoration: none;
   color: #575757;
}

ul.fs-menu2-vmenu li li a.active:before
{
   content:url('images/vmenuactivesubitemicon.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.fs-menu2-vmenu li li a.active:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-menu2-block
{
   background: #FFFFFF;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   border:1px solid #FFDC84;
}
div.fs-menu2-block img
{
   margin: 5px;
}

.fs-menu2-blockheader
{
   background: #01617E;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px solid #848484;
   padding:10px 3px;
   margin:0 auto;
}
.fs-menu2-blockheader .t,
.fs-menu2-blockheader .t a,
.fs-menu2-blockheader .t a:link,
.fs-menu2-blockheader .t a:visited, 
.fs-menu2-blockheader .t a:hover
{
   color: #FFFFFF;
   font-size: 16px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   font-variant: small-caps;
   text-align: center;
   margin: 0 10px;
}

.fs-menu2-blockcontent
{
   padding:3px;
   margin:0 auto;
   color: #00212D;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: justify;
}
.fs-menu2-blockcontent table,
.fs-menu2-blockcontent li, 
.fs-menu2-blockcontent a,
.fs-menu2-blockcontent a:link,
.fs-menu2-blockcontent a:visited,
.fs-menu2-blockcontent a:hover
{
   color: #00212D;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: justify;
}

.fs-menu2-blockcontent p
{
   margin: 0 5px;
}

.fs-menu2-blockcontent a, .fs-menu2-blockcontent a:link
{
   color: #006B92;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.fs-menu2-blockcontent a:visited, .fs-menu2-blockcontent a.visited
{
   color: #006B92;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.fs-menu2-blockcontent a:hover, .fs-menu2-blockcontent a.hover
{
   color: #FFBE1A;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}
.fs-menu2-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -11px;
}
.opera .fs-menu2-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-menu2-block li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #0088B9;
   margin: 5px 0 0 10px;
}

.fs-menu2-block ul>li, .fs-menu2-block ol
{
   padding: 0;
}

.fs-menu2-block ul>li
{
   padding-left: 11px;
}

.fs-menu2-breadcrumbs
{
   margin:0 auto;
}

a.fs-menu2-button,
a.fs-menu2-button:link,
a:link.fs-menu2-button:link,
body a.fs-menu2-button:link,
a.fs-menu2-button:visited,
body a.fs-menu2-button:visited,
input.fs-menu2-button,
button.fs-menu2-button
{
   text-decoration: none;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #423000;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 24px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.fs-menu2-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .fs-menu2-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.fs-menu2-block select 
{
   width:96%;
}

input.fs-menu2-button
{
   float: none !important;
}

.fs-menu2-button.active, .fs-menu2-button.active:hover
{
   background: #818181;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   padding:0 10px;
   margin:0 auto;
}
.fs-menu2-button.active, .fs-menu2-button.active:hover {
   color: #3E2C00 !important;
}

.fs-menu2-button.hover, .fs-menu2-button:hover
{
   background: #9D9D9D;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.2);
   padding:0 10px;
   margin:0 auto;
}
.fs-menu2-button.hover, .fs-menu2-button:hover {
   color: #002D3E !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #68D7FF;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 4px 0;
   color: #00678C !important;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-shadow: none;
}
input.fs-menu2-error, textarea.fs-menu2-error
{
   background: #FFFFFF;
   border:1px solid #F63B22;
   margin:0 auto;
}
input.fs-menu2-error, textarea.fs-menu2-error {
   color: #00678C !important;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}
form.fs-menu2-search input[type="text"]
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #68D7FF;
   margin:0 auto;
   width: 100%;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #00678C !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.fs-menu2-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.fs-menu2-search input
{
   top:0;
   right:0;
}

form.fs-menu2-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.fs-menu2-search input[type="submit"]
{
   margin:0 auto;
   color: #003549 !important;
   position:absolute;
   display:block;
   left: auto;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
}

label.fs-menu2-checkbox:before
{
   background: #FFFFFF;
   background: linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border:1px solid #36C9FF;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
   vertical-align: top;
   content: ' ';
}
label.fs-menu2-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #00678C !important;
   position: relative;
}

.fs-menu2-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.fs-menu2-checkbox.active:before
{
   background: #9D9D9D;
   background: linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: -webkit-linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: -moz-linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: -o-linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: -ms-linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   -svg-background: linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border:1px solid #818181;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.fs-menu2-checkbox.hovered:before
{
   background: #B9B9B9;
   background: linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: -webkit-linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: -moz-linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: -o-linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: -ms-linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   -svg-background: linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border:1px solid #36C9FF;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.fs-menu2-radiobutton:before
{
   background: #FFFFFF;
   background: linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: -moz-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: -o-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: -ms-linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   background: linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   -svg-background: linear-gradient(top, #FFFFFF 0, #80DDFF 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border:1px solid #B1EAFF;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
   vertical-align: top;
   content: ' ';
}
label.fs-menu2-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #00678C !important;
   position: relative;
}

.fs-menu2-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.fs-menu2-radiobutton.active:before
{
   background: #9D9D9D;
   background: linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: -webkit-linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: -moz-linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: -o-linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: -ms-linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   background: linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   -svg-background: linear-gradient(top, #B8B8B8 0, #828282 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border:1px solid #818181;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.fs-menu2-radiobutton.hovered:before
{
   background: #B9B9B9;
   background: linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: -webkit-linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: -moz-linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: -o-linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: -ms-linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   background: linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   -svg-background: linear-gradient(top, #D6D6D6 0, #9E9E9E 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border:1px solid #36C9FF;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.fs-menu2-radiobutton input[type="radio"]
{
   display: none;
}

label.fs-menu2-radiobutton.fs-menu2-checked:after
{
   content: url('images/radiobuttonicon.png');
   position: absolute;
   line-height: 12px;
   left: 0;
   top: 0;
}

label.fs-menu2-checkbox input[type="checkbox"]
{
   display: none;
}

label.fs-menu2-checkbox.fs-menu2-checked:after
{
   content: url('images/checkboxicon.png');
   position: absolute;
   left: 0;
   top: 0;
}

.fs-menu2-post
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.1);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.1);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.1);
   padding:7px;
}
a img
{
   border: 0;
}

.fs-menu2-article img, img.fs-menu2-article, .fs-menu2-block img, .fs-menu2-footer img
{
   border: 1px dotted #FFF4D8;
   margin: 10px 10px 10px 10px;
}

.fs-menu2-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.fs-menu2-article table, table.fs-menu2-article
{
   border-collapse: collapse;
   margin: 1px;
}

.fs-menu2-post .fs-menu2-content-layout-br
{
   height: 0;
}

.fs-menu2-article th, .fs-menu2-article td
{
   padding: 2px;
   border: dotted 1px #765400;
   vertical-align: top;
   text-align: left;
}

.fs-menu2-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 10px 10px 10px 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.fs-menu2-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.fs-menu2-postheader
{
   color: #00678C;
   margin: 5px 0;
   font-size: 24px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postheader a, 
.fs-menu2-postheader a:link, 
.fs-menu2-postheader a:visited,
.fs-menu2-postheader a.visited,
.fs-menu2-postheader a:hover,
.fs-menu2-postheader a.hovered
{
   font-size: 24px;
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   font-variant: small-caps;
   text-align: center;
}

.fs-menu2-postheader a, .fs-menu2-postheader a:link
{
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #00B9FC;
}

.fs-menu2-postheader a:visited, .fs-menu2-postheader a.visited
{
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #5DD4FF;
}

.fs-menu2-postheader a:hover,  .fs-menu2-postheader a.hovered
{
   font-family: 'Quattrocento Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #006B92;
}

.fs-menu2-postheadericons,
.fs-menu2-postheadericons a,
.fs-menu2-postheadericons a:link,
.fs-menu2-postheadericons a:visited,
.fs-menu2-postheadericons a:hover
{
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
   color: #0088B9;
}

.fs-menu2-postheadericons
{
   padding: 1px;
}

.fs-menu2-postheadericons a, .fs-menu2-postheadericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #626262;
}

.fs-menu2-postheadericons a:visited, .fs-menu2-postheadericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #46CEFF;
}

.fs-menu2-postheadericons a:hover, .fs-menu2-postheadericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline;
   color: #0090C4;
}

.fs-menu2-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .fs-menu2-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-menu2-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .fs-menu2-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-menu2-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .fs-menu2-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-menu2-postcontent ul>li:before,  .fs-menu2-post ul>li:before,  .fs-menu2-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .fs-menu2-postcontent ul>li:before, .opera   .fs-menu2-post ul>li:before, .opera   .fs-menu2-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-menu2-postcontent li, .fs-menu2-post li, .fs-menu2-textblock li
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: justify;
   color: #161616;
   margin: 5px 0 5px 11px;
}

.fs-menu2-postcontent ul>li, .fs-menu2-post ul>li, .fs-menu2-textblock ul>li, .fs-menu2-postcontent ol, .fs-menu2-post ol, .fs-menu2-textblock ol
{
   padding: 0;
}

.fs-menu2-postcontent ul>li, .fs-menu2-post ul>li, .fs-menu2-textblock ul>li
{
   padding-left: 15px;
}

.fs-menu2-postcontent ul>li:before,  .fs-menu2-post ul>li:before,  .fs-menu2-textblock ul>li:before
{
   margin-left: -15px;
}

.fs-menu2-postcontent ol, .fs-menu2-post ol, .fs-menu2-textblock ol, .fs-menu2-postcontent ul, .fs-menu2-post ul, .fs-menu2-textblock ul
{
   margin: 1em 0 1em 11px;
}

.fs-menu2-postcontent li ol, .fs-menu2-post li ol, .fs-menu2-textblock li ol, .fs-menu2-postcontent li ul, .fs-menu2-post li ul, .fs-menu2-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.fs-menu2-postcontent li, .fs-menu2-post li, .fs-menu2-textblock li
{
   margin: 5px 0 5px 0;
}

.fs-menu2-postcontent ol>li, .fs-menu2-post ol>li, .fs-menu2-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.fs-menu2-postcontent ul>li, .fs-menu2-post ul>li, .fs-menu2-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background:  url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 44px;
   margin:10px 0 0 25px;
   color: #005676;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: justify;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .fs-menu2-postcontent blockquote a, .fs-menu2-blockcontent blockquote a, .fs-menu2-footer blockquote a,
blockquote a:link, .fs-menu2-postcontent blockquote a:link, .fs-menu2-blockcontent blockquote a:link, .fs-menu2-footer blockquote a:link,
blockquote a:visited, .fs-menu2-postcontent blockquote a:visited, .fs-menu2-blockcontent blockquote a:visited, .fs-menu2-footer blockquote a:visited,
blockquote a:hover, .fs-menu2-postcontent blockquote a:hover, .fs-menu2-blockcontent blockquote a:hover, .fs-menu2-footer blockquote a:hover
{
   color: #005676;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: justify;
}

/* Override native 'p' margins*/
blockquote p,
.fs-menu2-postcontent blockquote p,
.fs-menu2-blockcontent blockquote p,
.fs-menu2-footer blockquote p
{
   margin: 0;
}

.fs-menu2-postmetadatafooter
{
   background: #B1EAFF;
   background: rgba(177, 234, 255, 0.6);
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   border:1px solid rgba(104, 215, 255, 0.3);
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
}

.fs-menu2-postfootericons,
.fs-menu2-postfootericons a,
.fs-menu2-postfootericons a:link,
.fs-menu2-postfootericons a:visited,
.fs-menu2-postfootericons a:hover
{
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
   color: #0090C4;
}

.fs-menu2-postfootericons
{
   padding: 1px;
}

.fs-menu2-postfootericons a, .fs-menu2-postfootericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #575757;
}

.fs-menu2-postfootericons a:visited, .fs-menu2-postfootericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #25C5FF;
}

.fs-menu2-postfootericons a:hover, .fs-menu2-postfootericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline;
   color: #00A9E6;
}

.fs-menu2-postcategoryicon:before
{
   content:url('images/postcategoryicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .fs-menu2-postcategoryicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-menu2-postcommentsicon:before
{
   content:url('images/postcommentsicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .fs-menu2-postcommentsicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-menu2-footer
{
   border-top:1px dotted #68D7FF;
   padding:25px;
   margin:20px auto 0;
   position: relative;
   color: #00678C;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
}

.fs-menu2-footer a,
.fs-menu2-footer a:link,
.fs-menu2-footer a:visited,
.fs-menu2-footer a:hover,
.fs-menu2-footer td, 
.fs-menu2-footer th,
.fs-menu2-footer caption
{
   color: #00678C;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.fs-menu2-footer p 
{
   padding:0;
   text-align: center;
}

.fs-menu2-footer a,
.fs-menu2-footer a:link
{
   color: #1AC2FF;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.fs-menu2-footer a:visited
{
   color: #1AC2FF;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.fs-menu2-footer a:hover
{
   color: #8C8C8C;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.fs-menu2-footer img
{
   border: none;
   margin: 0;
}

.fs-menu2-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:25px;
   min-width:25px;
   display: inline-block;
   text-indent: 28px;
   background-position: left center;
}

.fs-menu2-rss-tag-icon:empty
{
   vertical-align: middle;
}

.fs-menu2-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .fs-menu2-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.fs-menu2-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #0088B9;
}

.fs-menu2-footer ul>li, .fs-menu2-footer ol
{
   padding: 0;
}

.fs-menu2-footer ul>li
{
   padding-left: 13px;
}

.fs-menu2-page-footer, 
.fs-menu2-page-footer a,
.fs-menu2-page-footer a:link,
.fs-menu2-page-footer a:visited,
.fs-menu2-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #626262;
}

.fs-menu2-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #0090C4;
}

img.fs-menu2-lightbox
{
   cursor: pointer;
}

#fs-menu2-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#fs-menu2-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.fs-menu2-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.fs-menu2-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.fs-menu2-content-layout .fs-menu2-sidebar1
{
   border-right:1px dotted #68D7FF;
   margin:0 auto;
   width: 300px;
}

.fs-menu2-content-layout .fs-menu2-content
{
   margin:0 auto;
}

.fs-menu2-content-layout .fs-menu2-sidebar2
{
   border-left:1px dotted #68D7FF;
   margin:0 auto;
   width: 200px;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */
