<% form_for @user, :builder => TabularFormBuilder do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p class="btn-footer"><%= submit_tag l(:button_save) , :class => 'button-grey'%></p>
<% end %>
