<div class="fs-art-attachments">
  <h2>Allegati</h2>
  <% for attachment in attachments %>
      <p><%= link_to_attachment attachment , :text => attachment.filename + (" - #{attachment.description}" unless attachment.description.blank?)  ,:deletable => false , :class => 'icon-attachment' %>
           <%#  h(" - #{attachment.description}") unless attachment.description.blank? %>
        <span class="size">(<%= number_to_human_size attachment.filesize %>)</span>
        <% if options[:author] %>
            <span class="author"><%= h(attachment.author) %>, <%= format_time(attachment.created_on) %></span>
        <% end %>
      </p>
  <% end %>
</div>
