<h2><%= link_to l(:label_cross_organization_plural), cross_organizations_path %> &#187; <%= l(:label_cross_organization_new) %></h2>
<% labelled_form_for @cross_organization ,:html =>{:multipart =>true} do |f| %>

<%= render :partial => 'form', :locals => { :f => f } %>

<p>
    <div class="btn-footer"> <%= f.submit l(:button_create),:class=>'button-blu' %> </div>
</p>
<% end %>
