<p style="font-size: 0.8em; font-style: italic; text-align: left;">
<%= l(:text_issue_updated, :id => "##{@issue.id}", :author => h(@journal.user)) %>
</p>
<ul>
<% for detail in @journal.details %>
    <li><%= show_detail(detail, true) %></li>
<% end %>
</ul>
<%= raw(@journal.notes).html_safe %>
<%# @journal, :notes, :only_path => false) %>
<hr />
<%= render :partial => "issue.html.erb", :locals => { :issue => @issue, :issue_url => @issue_url } %>
