<%= f.error_messages %>

<div class="box tabular">
  <p><%= f.text_field :description, :label => :field_descrizione, :required => true, :size => 60 %></p>
  <p><%= f.text_field :order, :label => :field_ordinamento, :size => 3 %></p>
</div>
