
  <h2><%=l(:list_abbonamenti)%></h2>
  In questa pagina:
  <ul> 
    <li>List utenti con abbonamento (privati associati = repetizione?), data di scadenza</li>
    <li>Azione: Rilancia via EMAIL</li>
    <li>Naviga: vai al dettaglio di un utente</li>
  </ul> 

