<h2><%= l(:list_archiviati) %></h2>
  In questa pagina:
  <ul> 
    <li>List utenti in stato di archiviazione: username, privato o organismo associato, N° pagamenti fatti</li>
    <li>Azione: Rilancia via EMAIL</li>
    <li>Azione: Ha pagato</li>
    <li>Naviga: vai al dettaglio di un utente</li>
  </ul> 

