<h2><%=l(:list_associati)%></h2>
  <div id="footer-menu" class="box">
    <%= render_menu :menu_fee_fs %>
  </div>
  In questa pagina:
  <ul> 
    <li>List utenti membri si un organismo associato: username, organismo associato, Data ultimo pagamento Organismo, data scadenza utente/Org.Asso</li>
    <li>Azione: correggi (verifica la congruenza dell'utente di fronte all'Org.Asso e corregge il ruolo data scadenza)</li>
    <li>Azione: Org.Asso Ha pagato per conto di tutti</li>
    <li>Naviga: vai al dettaglio di un utente</li>
    <li>Naviga: vai al dettaglio di un org.Asso</li>
  </ul> 

