<h2><%=l(:email_fee)%></h2>
  In questa pagina:
  <ul>
    <li>Template delle email da rilancio definiti dentro il Setting</li>
    <li>Incorporare i dati dell'utente e propore HTML da invio</li>
    <li>Recipients: selezione multiselect tra i utenti - groups -  organismi associati (power user o tutti membri)</li>
    <li>Editor HTML</li>
    <li>AZIONE: INVIA</li>
  </ul>
  <p>
    <%= link_to 'settings', email_fee_goto_settings_path %>
  </p>
