<h2><%=l(:list_privati)%></h2>
  In questa pagina:
  <ul> 
    <li>List utenti con ruolo privato(INVITATO): username, data registrazione, Organismo associato</li>
    <li>Azione: ROLE_REGISTRATO: inizia la procedura di registrazione</li>
    <li>Azione: ROLE_SCADUTO cambia ruolo per renderlo scaduto: non è più invitato</li>
    <li>Naviga: vai al dettaglio di un utente</li>
  </ul> 


