<h2><%=l(:list_registrati)%></h2>
  <div id="footer-menu" class="box">
    <%= render_menu :menu_fee_fs %>
  </div>
  In questa pagina:
  <ul> 
    <li>List utenti in stato di registrazione: username, data registrazione, manca x giorni al periodo di prova, data ultimo pagamento</li>
    <li>Azione: Rilancia</li>
    <li>Azione: Ha pagato</li>    
    <li>Azione: ROLE_SCADUTO cambia ruolo per renderlo scaduto</li>
    <li>Azione: ROLE_ARCHIVIA cambia ruolo per archiviare</li>
    <li>Naviga: vai al dettaglio di un utente</li>
  </ul> 

