<h2><%=l(:list_scaduti)%></h2>
  In questa pagina:
  <ul> 
    <li>List utenti in stato di archiviazione: username, data registrazione, data ultimo pagamento</li>
    <li>Azione: Rilancia</li>
    <li>Azione: Ha pagato</li>    
    <li>Azione: ROLE_ARCHIVIA cambia ruolo per archiviare</li>
    <li>Naviga: vai al dettaglio di un utente</li>
  </ul> 

