  <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
          // effetto sul testo di fade o slide
          $('#tickGratis').list_ticker({speed:3000,effect:'fade'})
      });

  </script>

<p class="fs-tramenu-blockheader x-red fs-tramenu-bh1">Prova la newsletter gratis per 30 giorni!</p>
<div id="fs-prova-gratis-fields">
  <% form_tag({:controller => 'editorial', :action => 'prova_gratis_ok'}, :method => :post) do %>
      <span class="fs-prova-gratis-txt"><input type="text" value="Nome..."></span>
      <span class="fs-prova-gratis-txt"><input type="text" value="Cognome..."></span>
      <span class="fs-prova-gratis-txt"><input type="text" value="Email..."></span>
      <input type="submit" value="Leggi Gratis!" name="leggi_gratis" id="fs-prova-gratis-btn" class="fs-button"/>

      <div id="fs-prova-gratis-info">
        <div class="fs-prova-gratis-info">
          <label class="fs-checkbox">
            <input type="checkbox" id="modlgn_remember" name="team_artist" value="yes" alt="Team Artist" checked="true"/>
          </label>
          <ul id="tickGratis" class="fs-prova-gratis-righe">
            <li>Prova anche la demo di <a href="http://teamartist.com" target="_blank">Team Artist</a></li>
            <li> il software per le nostre associazioni. </li>
            <li>Promo: se ti iscrivi a FiscoSport...  </li>
             <li>-10% sul listino approfittane ora! <a href="http://teamartist.com" target="_blank">Scopri...</a></li>
          </ul>
          <div class="clearfix"></div>
           <span>
             Cliccando su "Leggi Gratis" acconsenti esplicitamente al trattamento dei dati personali
             ai sensi del D.Lgs. 196/2003, leggi l' <a href="">informativa</a>
           </span>
        </div>
      </div>
  <% end %>
</div>
