<div class="fs-layout-cell fs-content clearfix" style="width: 100%; position:relative;">
  <article class="fs-post fs-article">
    <div class="fs-postcontent fs-postcontent-0 clearfix">
      <div class="fs-content-layout">
        <div class="fs-content-layout-row">
          <div class="fs-layout-cell layout-item-0" style="width: 99%">

          <% form_tag(newsletter_del_path(:id => @user.id.to_s)) do %>
            <article class="fs-post fs-article" style="display: table-cell">
              <h3> Per togliere la tua iscrizione dalla newsletter di <%= Setting.app_title %> clicca sul pulsante "<%= l(:button_cancel) %>"</h3>
              <div style="float:right; margin: 25px;" >
                <input type="submit" name="cancel" class="fs-rosso-button" value="<%= l(:button_cancel) %> &#187;" tabindex="5"/>
              </div>
            </article>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <br/>
  </article>
  <br/>
  <div class="clearfix"></div>
</div>
<%= render :partial => 'editorial/blocco_sidebar1' %>
