<div class="fs-layout-cell fs-content clearfix" style="width: 100%; position:relative;">

  <div class="fs-postcontent fs-postcontent-0 clearfix">
    <div class="fs-content-layout">
      <div class="fs-content-layout-row">
        <div class="fs-layout-cell layout-item-0" style="width: 98%">
          <div style="padding: 1em 2em;">
            <h2 style="text-align:center; color: #b22222"> Accesso a pagine riservate agli abbonati</h2>
            <h3> Possiedi già un abbonamento ?</h3>
            <blockquote> Inserisci i tui dati di login qui sopra per accedere a tutti i contenuti del sito</blockquote>
            <h3> Non sei abbonato?</h3>
            <blockquote> Ecco tutte le informazioni per abbonarti</blockquote>
          </div>
          <article class="fs-post fs-article">
            <div class="fs-layout-cell layout-item-1" style="width: 100%">
              <%= Setting.static_page_abbonamenti %>
            </div>
            <br/>
          </article>
        </div>
      </div>
    </div>
    <br/>
  </div>
  <div class="clearfix"></div>
</div>
<%= render :partial => 'editorial/blocco_sidebar1' %>
<%= javascript_tag "$('#username').focus();" %>
