<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' rel='stylesheet' type='text/css'>
<h3 class="t"><%= l(:setting_info_staff) %> </h3>
<div id="notes">
  <%= Setting.info_staff %>
  <div class="cleared"></div>
</div>
