<h2 style="display:inline-block; width: 100%;"><%= link_to '&nbsp', regions_path %>  </h2>
<span style="display: inline; position: absolute; left:65%; margin-top: -30px;">
  <%= link_to (l :button_back), :back, :class => 'icon icon-cancel' %>&nbsp;</span>
<p>&nbsp;</p>
<% form_for @region do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <div class="btn-footer"><%= f.submit l(:button_create), :class => "button-blu" %></div>
<% end %>
